<div>
    <div class="row"  id="reload-parcial-{{competencia.id}}" data-update="{{ path('competenciaEliminacionDirecta_reload', { 'id': competencia.id }) }}">
        {% if (competencia.partidos | length) %}
            <div class="dropdown pull-right">
                <a data-toggle="dropdown" class="btn btn-xs dropdown-toggle btn-transparent-grey">
                    <i class="fa fa-cog"></i>
                </a>
                <ul class="dropdown-menu dropdown-light pull-right" role="menu">
                    {% if is_granted('ROLE_ADMIN') %}
                    <li>
                        <a class="panel-refresh habilitar_edicion" href="#" onclick="$.Evento.etapa.competencia.habilitarEdicion('tab-competencia-{{ competencia.id }}')">
                            <i class="fa fa-edit"></i> <span>Habilitar edición</span>
                        </a>
                    </li>        
                    <li>
                        <a class="panel-refresh" href="#" onclick="$.Evento.etapa.remove('{{ path('competenciaEliminacionDirecta_delete', { 'id': competencia.id }) }}')">
                            <i class="fa fa-trash"></i> <span>Resetear Etapa</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <div class="col-sm-12">  
                <h4 class="panel-title">Partidos <span class="text-bold">{{ competencia }}</span></h4>
                <br>
                {% for arr in competencia.getPartidosCopa() %}
                    <table class="table table-hover">
                        <thead>
                            <tr class="danger">
                                <th colspan="7" class="">Partidos : {{ arr[0].getNivelTexto }}</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th class="text-right">Equipo</th>
                                <th style="width: 40px"></th>
                                <th class="center">vs</th>
                                <th style="width: 40px"></th>
                                <th class="text-left">Equipo</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for partido in arr %}
                            <tr>
                                <td class="text-right">
                                    <small>{{ partido.nombre }}</small>
                                </td>
                                {% if is_granted('ROLE_PLAZA_EDIT') %}
                                    <td class="text-right" onclick="$.Evento.etapa.competencia.plaza.edit('{{ path('plaza_edit', { 'id': partido.plaza1.id }) }}')" style="cursor: pointer">
                                {% else%}
                                    <td class="text-right">
                                {% endif %}                                
                                    {% if (partido.plaza1) %}
                                        {{ partido.plaza1.getNombreCompetenciaRaw | raw }}
                                    {% endif %}
                                </td>
                                <td class="center">{{ partido.resultadoLocal }}</td>
                                <td class="center">
                                    {% if (partido.cronograma) %}
                                        {{ partido.cronograma.getRaw | raw }}
                                    {% endif %}
                                    {% if (partido.tanteador is defined) %}
                                        {{ partido.tanteador }}
                                    {% else %}
                                        {% if (partido.resultadoSecundarioLocal is defined) %}{{ partido.resultadoSecundarioLocal }} - {{ partido.resultadoSecundarioVisitante }}{% endif %}
                                    {% endif %}
                                </td>
                                <td class="center">{{ partido.resultadoVisitante }}</td>
                                {% if is_granted('ROLE_PLAZA_EDIT') %}
                                    <td class="text-left" onclick="$.Evento.etapa.competencia.plaza.edit('{{ path('plaza_edit', { 'id': partido.plaza2.id }) }}')" style="cursor: pointer">
                                {% else%}
                                    <td class="text-left">
                                {% endif %}
                                    {% if (partido.plaza2) %}
                                        {{ partido.plaza2.getNombreCompetenciaRaw | raw }}
                                    {% endif %}
                                </td>
                                <td class="center">
                                    <div class="visible-md visible-lg hidden-sm hidden-xs">
                                        {% if is_granted('ROLE_CRONOGRAMA_EDIT') %}
                                            <a href="#1" onclick="$.Evento.liga.zona.partido.cronograma('{{ path('cronograma_partido_edit', { 'id': partido.cronograma.id }) }}')" class="btn btn-xs btn-azure" title="Editar Cronograma">
                                                <span class="fa fa-calendar"></span>
                                            </a>
                                        {% endif %}
                                        {% if is_granted('ROLE_PARTIDO_EDIT_RESULTADO') %}                                            
                                            <a href="#1" onclick="$.Evento.liga.zona.partido.resultado('{{ path('zona_partido_edit_resultado', { 'id': partido.id }) }}')" class="btn btn-xs btn-yellow" title="Editar Resultado">
                                                <span class="fa fa-dot-circle-o"></span>
                                            </a>
                                            <a href="#1" onclick="$.Evento.liga.zona.partido.resultado.reset('{{ path('zona_partido_resultado_reset', { 'id': partido.id }) }}')" class="btn btn-xs btn-orange" title="Resetear Resultado">
                                                <span class="fa fa-refresh"></span>
                                            </a>
                                        {% endif %}
                                        {% if is_granted('ROLE_PARTIDO_SHOW') %}
                                            <a disabled href="#1" onclick="$.Evento.liga.zona.partido.show('{#{ path('zona_partido_show', { 'id': partido.id }) }#}')" class="btn btn-xs btn-blue" title="Ver Partido">
                                                <i class="fa fa-eye fa fa-white"></i>
                                            </a>
                                        {% endif %}
                                        {% if is_granted('ROLE_PARTIDO_EDIT') %}
                                            <a href="#1" onclick="$.Evento.liga.zona.partido.edit('{{ path('zona_partido_edit', { 'id': partido.id }) }}')" class="btn btn-xs btn-green" title="Editar Partido">
                                                <i class="fa fa-edit fa fa-white"></i>
                                            </a>                               
                                        {% endif %}
                                        {% if is_granted('ROLE_PARTIDO_DELETE') %}
                                            <a href="#1" onclick="$.Evento.liga.zona.partido.remove('{{ path('zona_partido_delete', { 'id': partido.id }) }}')" class="btn btn-xs btn-red" title="Eliminar Partido">
                                                <i class="fa fa-times fa fa-white"></i>
                                            </a>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endfor %}
                {% if is_granted('ROLE_PARTIDO_NEW') %}
                    <a class="btn btn-orange btn-sm btn-block" onclick="$.Evento.liga.zona.partido.add('{{ path('zona_partido_new', { 'id': competencia.id })}}')" href="#1">
                        <i class="fa fa-random"></i> Agregar una Partido
                    </a>
                {% endif %}
            </div>
            <script>
                (function ($) {
                    var _modoEdicion = false;
                    var _optionBloq = {
                                    overlayCSS: {
                                        backgroundColor: '#fff'
                                    },
                                    message: '<i class="fa fa-spinner fa-spin"></i>',
                                    css: {
                                        border: 'none',
                                        color: '#333',
                                        background: 'none',
                                        padding: '0px'
                                    }
                                }
                    // no se sobreescribe el namespace, si ya existe
                    $.Evento = $.Evento || {};
                    $.Evento.liga = function() {}
                    $.Evento.liga.zona = function() {}
                    $.Evento.liga.zona.add = function(url) {
                        if (!_modoEdicion){
                            $('#okButton').button('reset');
                            $('#panel-config .modal-footer').show();
                            $('#panel-config .modal-title').html("Nueva Zona");
                            $('#panel-config .modal-body').html("");
                            $('#panel-config .modal-body').load(url,function(){
                                $('#panel-config form').submit(function(){
                                    $.Evento.etapa.competencia.request($('#panel-config form'));
                                    return false;
                                });
                            });
                            $('#panel-config').modal();
                        }else{ alert("Salga del modo edición para realizar esta tarea!")}
                    }
                    $.Evento.liga.zona.edit = function(url) {
                        $('#okButton').button('reset');
                        $('#panel-config .modal-footer').show();
                        $('#panel-config .modal-title').html("Editar Zona");
                        $('#panel-config .modal-body').html("");
                        $('#panel-config .modal-body').load(url,function(){
                            $('#panel-config form').submit(function(){
                                $.Evento.etapa.competencia.request($('#panel-config form'));
                                return false;
                            });
                        });
                        $('#panel-config').modal();                
                    }
                    $.Evento.liga.zona.remove = function(url) {
                        jQuery.get(url, function(data){
                            swal({
                                title: "Seguro quiere eliminar la zona con todos sus datos ?",
                                text: "Los cambios serán permanetes!<div id='deleteFormAux' class='hidden'>"+data+"</div>",
                                type: "warning",
                                showCancelButton: true,
                                confirmButtonColor: "#DD6B55",
                                confirmButtonText: "Si, eliminar!",
                                cancelButtonText: "No, cancelar!",
                                closeOnConfirm: true,
                                closeOnCancel: true,
                                html: true
                            },
                            function (isConfirm) {
                                if (isConfirm) {
                                    $('#deleteFormAux form').submit(function(){
                                        $.Evento.etapa.competencia.request($(this));
                                        return false;
                                    });
                                    $('#deleteFormAux form').submit();
                                }
                            });
                        });
                    }
                    
                    $.Evento.liga.zona.partido = function() {}
                    $.Evento.liga.zona.partido.add = function(url) {
                        if (!_modoEdicion){
                            $('#okButton').button('reset');
                            $('#panel-config .modal-footer').show();
                            $('#panel-config .modal-title').html("Nuevo Partido");
                            $('#panel-config .modal-body').html("");
                            $('#panel-config .modal-body').load(url,function(){
                                $('#panel-config form').submit(function(){
                                    $.Evento.etapa.competencia.request($('#panel-config form'),'zona');
                                    return false;
                                });
                            });
                            $('#panel-config').modal();
                        }else{ alert("Salga del modo edición para realizar esta tarea!")}
                    }
                    $.Evento.liga.zona.partido.edit = function(url) {
                        $('#okButton').button('reset');
                        $('#panel-config .modal-footer').show();
                        $('#panel-config .modal-title').html("Editar Partido");
                        $('#panel-config .modal-body').html("");
                        $('#panel-config .modal-body').load(url,function(){
                            $('#panel-config form').submit(function(){
                                $.Evento.etapa.competencia.request($('#panel-config form'),'zona');
                                return false;
                            });
                        });
                        $('#panel-config').modal();                
                    }
                    $.Evento.liga.zona.partido.resultado = function(url) {
                        $('#okButton').button('reset');
                        $('#panel-config .modal-footer').show();
                        $('#panel-config .modal-title').html("Resultado del Partido");
                        $('#panel-config .modal-body').html("");
                        $('#panel-config .modal-body').load(url,function(){
                            $('#panel-config form').submit(function(){
                                $.Evento.etapa.competencia.request($('#panel-config form'),'zona');
                                return false;
                            });
                        });
                        $('#panel-config').modal();                
                    }
                    $.Evento.liga.zona.partido.resultado.reset = function(url) {
                        jQuery.get(url, function(data){
                            swal({
                                title: "Seguro quiere resetear el resultado del partido ?",
                                text: "Los cambios serán permanetes!<div id='deleteFormAux' class='hidden'>"+data+"</div>",
                                type: "warning",
                                showCancelButton: true,
                                confirmButtonColor: "#DD6B55",
                                confirmButtonText: "Si, resetear!",
                                cancelButtonText: "No, cancelar!",
                                closeOnConfirm: true,
                                closeOnCancel: true,
                                html: true
                            },
                            function (isConfirm) {
                                if (isConfirm) {
                                    $('#deleteFormAux form').submit(function(){
                                        $.Evento.etapa.competencia.request($(this),'zona');
                                        return false;
                                    });
                                    $('#deleteFormAux form').submit();
                                }
                            });
                        });
                    }
                    $.Evento.liga.zona.partido.cronograma = function(url) {
                        $('#okButton').button('reset');
                        $('#panel-config .modal-footer').show();
                        $('#panel-config .modal-title').html("Cronograma del Partido");
                        $('#panel-config .modal-body').html("");
                        $('#panel-config .modal-body').load(url,function(){
                            $('#panel-config form').submit(function(){
                                $.Evento.etapa.competencia.request($('#panel-config form'),'zona');
                                $("#reload-parcial-fixture").load($("#reload-parcial-fixture").data("update"));
                                return false;
                            });
                        });
                        $('#panel-config').modal();                
                    }    
                    $.Evento.liga.zona.partido.remove = function(url) {
                        jQuery.get(url, function(data){
                            swal({
                                title: "Seguro quiere eliminar el partido con todos sus datos ?",
                                text: "Los cambios serán permanetes!<div id='deleteFormAux' class='hidden'>"+data+"</div>",
                                type: "warning",
                                showCancelButton: true,
                                confirmButtonColor: "#DD6B55",
                                confirmButtonText: "Si, eliminar!",
                                cancelButtonText: "No, cancelar!",
                                closeOnConfirm: true,
                                closeOnCancel: true,
                                html: true
                            },
                            function (isConfirm) {
                                if (isConfirm) {
                                    $('#deleteFormAux form').submit(function(){
                                        $.Evento.etapa.competencia.request($(this),'zona');
                                        return false;
                                    });
                                    $('#deleteFormAux form').submit();
                                }
                            });
                        });
                    }        
                })(jQuery);
            </script>
        {% else %}
            {{ render(controller(
                'ResultadoBundle:CompetenciaEliminacionDirecta:competenciaEliminacionDirectaTemplateView',
                { 'id': competencia.id }
            )) }}
        {% endif %}
    </div>
</div>