<div class="visible-md visible-lg hidden-sm hidden-xs">
    <button onclick="$.Default.show('{{ path('planilla_show', { 'id': entity.id }) }}')" class="btn btn-xs btn-light-azure"><i class="fa fa-eye"></i></button>
    {% if is_granted('ROLE_INSCRIPCION_PLANILLA_PRINT') %}
        <a href="{{ path('planilla_print', {'segmento': entity.segmento.id, 'idPlanilla': entity.id}) }}" class="btn btn-xs btn-blue" title="Imprimir la planilla"><i class="fa fa-print"></i></a>
    {% endif %}
    {% if entity.isEditable(app.user) %}
        <button onclick="$.Default.edit('{{ path('planilla_edit', { 'id': entity.id }) }}')" class="btn btn-xs btn-green"><i class="fa fa-edit"></i></button>
    {% endif %}
    {% if entity.isRemovable(app.user) %}
        <button onclick="$.Default.deleteConfirm('{{ path('planilla_delete', { 'id': entity.id }) }}')" href="#" class="btn btn-xs btn-red"><i class="fa fa-times fa fa-white"></i></button>
    {% endif %}
    {% for estado in entity.getEstado().getProximosEstados(app.user) %}
        <button onclick="$.Default.changeStateConfirm('{{ path(estado.getRoute, { 'id': entity.id }) }}')" title="{{ estado.getTitleBefore() }}" class="btn btn-xs btn-{{estado.getClassButton()}}"><i class="fa fa-{{ estado.getIcon() }}"></i></button>
    {% endfor %}  
</div>
<div class="visible-xs visible-sm hidden-md hidden-lg">
    <div class="btn-group">
        <a class="btn btn-green dropdown-toggle btn-sm" data-toggle="dropdown" href="#">
            <i class="fa fa-cog"></i> <span class="caret"></span>
        </a>
        <ul role="menu" class="dropdown-menu pull-right dropdown-dark">
    {#        <li>
                <a disabled role="menuitem" tabindex="-1" href="{{ path('segmento_show', { 'id': entity.id }) }}">
                    <i class="fa fa-eye"></i> Ver
                </a>
            </li>
            <li>
                <a role="menuitem" tabindex="-1"  href="#1" onclick="$.Segmento.editModal('{{ path('segmento_edit', { 'id': entity.id }) }}')">
                    <i class="fa fa-edit"></i> Editar
                </a>
            </li>#}
        </ul>
    </div>
</div>
