<div class="visible-md visible-lg hidden-sm hidden-xs">
    <a disabled href="#1" class="btn btn-xs btn-blue tooltips" data-placement="top" data-original-title="Ver"><i class="fa fa-eye"></i></a>
    
    <button onclick="$.Default.edit('{{ path('planilla_edit', { 'id': entity.id }) }}')" class="btn btn-xs btn-green tooltips" data-placement="top" data-original-title="Editar"><i class="fa fa-edit"></i></button>
    {#
    <button {% if entity.eventos | length %}disabled title="El segmento no debe tener eventos asociados"{% endif %} onclick="$.Segmento.deleteConfirm('{{ path('segmento_delete', { 'id': entity.id }) }}')" href="#" class="btn btn-xs btn-red tooltips" data-placement="top" data-original-title="Eliminar"><i class="fa fa-times fa fa-white"></i></button>
    #}
    {% if entity.isRemovable() %}
        <button onclick="$.Default.deleteConfirm('{{ path('planilla_delete', { 'id': entity.id }) }}')" href="#" class="btn btn-xs btn-red tooltips" data-placement="top" data-original-title="Eliminar"><i class="fa fa-times fa fa-white"></i></button>
    {% endif %}    
</div>
<div class="visible-xs visible-sm hidden-md hidden-lg">
    <div class="btn-group">
        <a class="btn btn-green dropdown-toggle btn-sm" data-toggle="dropdown" href="#">
            <i class="fa fa-cog"></i> <span class="caret"></span>
        </a>
        <ul role="menu" class="dropdown-menu pull-right dropdown-dark">
    {#        <li>
                <a disabled role="menuitem" tabindex="-1" href="{{ path('segmento_show', { 'id': entity.id }) }}">
                    <i class="fa fa-eye"></i> Ver
                </a>
            </li> 
            <li>
                <a role="menuitem" tabindex="-1"  href="#1" onclick="$.Segmento.editModal('{{ path('segmento_edit', { 'id': entity.id }) }}')">
                    <i class="fa fa-edit"></i> Editar
                </a>
            </li>#}
        </ul>
    </div>
</div>