{% extends 'CommonBundle::layout.html.twig' %}

{% block otherStylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/highcharts.css') }}">    
{% endblock %}

{% block contenidoToolbar %}
    <div class="toolbar row">
        <div class="col-sm-6 hidden-xs">
            <div class="page-header">
                <h1><i class="fa fa-tachometer"></i> Dashboard <small>Aquí encontrara los indicadores del módulo de inscripción</small></h1>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12">
            <a href="#" onclick="$('.page-header h1').toggle();" class="close-subviews">
                <i class="fa fa-arrow-left"></i> VOLVER
            </a>  
            <div class="toolbar-tools pull-right">
                <!-- start: TOP NAVIGATION MENU -->
                <ul class="nav navbar-right">
                </ul>
                <!-- end: TOP NAVIGATION MENU -->
            </div>
        </div>
    </div>
{% endblock %}
{% block contenidoBreadcrumb %}
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('homepage') }}">
                        <i class="fa fa-home" aria-hidden="true"></i>
                    </a>
                </li>                 
                <li>
                    <a href="{#{ path('inscripcion') }#}">
                        Inscripción
                    </a>
                </li>
                <li class="active">
                    Dashboard
                </li>
            </ol>
        </div>
    </div>
{% endblock %}
{% block contenidoContent %}
    {% for torneo in datos %}
        <div class="col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading border-light">
                    <h4 class="panel-title">Informe <span class="text-bold">{{ torneo.nombre }}</span></h4>
                    <div class="panel-tools">
                        <div class="dropdown">
                            <a data-toggle="dropdown" class="btn btn-xs dropdown-toggle btn-transparent-white">
                                <i class="fa fa-cog"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-light pull-right" role="menu">
                                <li>
                                    <a class="panel-collapse collapses" href="#"><i class="fa fa-angle-up"></i> <span>Collapse</span> </a>
                                </li>
                                <li>
                                    <a class="panel-refresh" href="#">
                                        <i class="fa fa-refresh"></i> <span>Refresh </span>
                                    </a>
                                </li>
                                <li>
                                    <a class="panel-config" href="#panel-config" data-toggle="modal">
                                        <i class="fa fa-wrench"></i> <span>Configurations</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="panel-expand" href="#">
                                        <i class="fa fa-expand"></i> <span>Fullscreen</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <a class="btn btn-xs btn-link panel-close" href="#">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-7" style="padding-top: 55px;">
                            <div class="easy-pie-chart easy-pie-chart-admin">
                                <span class="cpu number appear" data-percent="{#{ (eventos_definidos | length *100)/ eventos | length }#}" data-plugin-options='{"barColor": "#35aa47"}'><span class="percent"></span></span>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="space20 padding-5 border-bottom border-light">
                                <h4 class="pull-left no-margin space5">{{ torneo.datos.planillas }} Planillas</h4>
                                <div class="clearfix"></div>
                                <span class="text-light">de inscripción</span>
                            </div>
                            <div class="space20 padding-5 border-bottom border-light">
                                <h4 class="pull-left no-margin space5">{{ torneo.datos.equipos }} Equipos</h4>
                                <div class="clearfix"></div>
                                <span class="text-light">inscriptos en el torneo</span>
                            </div>
                            <div class="space20 padding-5 border-bottom border-light">
                                <h4 class="pull-left no-margin space5">0 Municipios</h4>
                                {#<span class="text-dark pull-right">12:30</span>#}
                                <div class="clearfix"></div>
                                <span class="text-light">participantes</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer partition-white">
                    <div class="clearfix padding-5 space5">
                        <div class="col-xs-4 text-center no-padding">
                            <div class="border-right border-dark">
                                <span class="text-bold block text-extra-large">{{ torneo.datos.inscriptos.total }}</span>
                                <span class="text-light">Total</span>
                            </div>
                        </div>
                        <div class="col-xs-4 text-center no-padding">
                            <div class="border-right border-dark">
                                <span class="text-bold block text-extra-large">{{ torneo.datos.inscriptos.Femenino }}</span>
                                <span class="text-light">Femenino</span>
                            </div>
                        </div>
                        <div class="col-xs-4 text-center no-padding">
                            <span class="text-bold block text-extra-large">{{ torneo.datos.inscriptos.total }}</span>
                            <span class="text-light">Masculino</span>
                        </div>
                    </div>
                </div>
            </div>        
            {#<div class="panel panel-blue">
                <div class="panel-heading">
                    <h4 class="panel-title">{{ torneo.nombre }} <span class="text-bold"></span></h4>
                </div>
                <div class="panel-body">
                    <div id="container_{{ loop.index }}" class="col-sm-12 text-center" style="height: 300px">
                        {{ torneo.datos.planillas }}
                        {{ torneo.datos.equipos }}
                        {{ torneo.datos.inscriptos.Femenino }}
                        {{ torneo.datos.inscriptos.Masculino }}
                    </div>        
                </div>
            </div>#}
        </div>
    {% endfor %}
{% endblock %}

{% block otherJavascripts %}
    <script src="{{ asset('assets/js/highcharts.js') }}" type="text/javascript" charset="utf8"></script>
    <script>
        {% for torneo in datos %}
            $('#container_{{ loop.index }}').highcharts({
                credits:{'enabled':false},                
                chart: {
                    type: 'pie',
                    backgroundColor:'transparent'
                },
                title: {
                    text: '',
                    style: {'display':'none'}
                },
                tooltip: {
                    pointFormat: '<b>{point.percentage:.1f}%</b><br>{point.y} de {{ torneo.datos.inscriptos.total }}'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: false
                        },
                        showInLegend: false
                    }
                },
                series: [{
                    name: 'Inscriptos',
                    colorByPoint: true,
                    data: [{
                        name: 'Masculino',
                        y: {{ torneo.datos.inscriptos.Masculino }}
                    }, {
                        name: 'Femenino',
                        y: {{ torneo.datos.inscriptos.Femenino }},
                        sliced: true,
                        selected: true
                    }]
                }]
            });
        {% endfor %}
    </script>
{% endblock %}