<div class="visible-md visible-lg hidden-sm hidden-xs">
    <button disabled class="btn btn-xs btn-blue tooltips" data-placement="top" data-original-title="Ver"><i class="fa fa-eye"></i></button>
    {% if is_granted('ROLE_SEGMENTO_ACTIVE') %}
        {% if entity.isActive %}
            <button title="Cerrar inscripción en este segmento" onclick="$.Segmento.stateToggleConfirm('{{ path('segmento_state_toggle', { 'id': entity.id }) }}','La inscripción al segmento será cerrada!')" class="btn btn-xs btn-dark-red tooltips"><i class="fa fa-lock fa fa-white"></i></button>
        {% else %}
            <button title="Abrir inscripción en este segmento" onclick="$.Segmento.stateToggleConfirm('{{ path('segmento_state_toggle', { 'id': entity.id }) }}','La inscripción al segmento será abierta!')" class="btn btn-xs btn-dark-green tooltips"><i class="fa fa-unlock fa fa-white"></i></button>
        {% endif %}
    {% endif %}
    {% if is_granted('ROLE_SEGMENTO_EDIT') %}
        <button onclick="$.Segmento.editModal('{{ path('segmento_edit', { 'id': entity.id }) }}')" class="btn btn-xs btn-green tooltips" data-placement="top" data-original-title="Editar"><i class="fa fa-edit"></i></button>
    {% endif %}
    {% if is_granted('ROLE_SEGMENTO_DELETE') %}
        <button {% if entity.eventos | length %}disabled title="El segmento no debe tener eventos asociados"{% endif %} onclick="$.Segmento.deleteConfirm('{{ path('segmento_delete', { 'id': entity.id }) }}')" href="#" class="btn btn-xs btn-red tooltips" data-placement="top" data-original-title="Eliminar"><i class="fa fa-times fa fa-white"></i></button>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
        <button title="Crear evento a partir de este segmento" onclick="$.Segmento.openAjaxModal('{{ path('gestion_evento_new_from_segmento', { 'id': entity.id }) }}','Nuevo Evento')" href="#" class="btn btn-xs btn-blue tooltips" data-placement="top" data-original-title="Eliminar"><i class="fa fa-trophy fa fa-white"></i></button>
    {% endif %}
</div>
<div class="visible-xs visible-sm hidden-md hidden-lg">
    <div class="btn-group">
        <a class="btn btn-green dropdown-toggle btn-sm" data-toggle="dropdown" href="#">
            <i class="fa fa-cog"></i> <span class="caret"></span>
        </a>
        <ul role="menu" class="dropdown-menu pull-right dropdown-dark">
            <li>
                <a disabled role="menuitem" tabindex="-1" href="#1">
                    <i class="fa fa-eye"></i> Ver
                </a>
            </li>
            {% if is_granted('ROLE_SEGMENTO_ACTIVE') %}
                <li>
                    {% if entity.isActive %}
                        <a role="menuitem" tabindex="-1"  href="#1" onclick="$.Segmento.stateToggleConfirm('{{ path('segmento_state_toggle', { 'id': entity.id }) }}','La inscripción al segmento será cerrada!')" title="Cerrar inscripción en este segmento">
                            <i class="fa fa-lock fa fa-white"></i> Cerrar inscripción
                        </a>
                    {% else %}
                        <a role="menuitem" tabindex="-1"  href="#1" onclick="$.Segmento.stateToggleConfirm('{{ path('segmento_state_toggle', { 'id': entity.id }) }}','La inscripción al segmento será abierta!')" title="Abrir inscripción en este segmento">
                            <i class="fa fa-unlock fa fa-white"></i> Abrir inscripción
                        </a>
                    {% endif %}
                </li>
            {% endif %}
            {% if is_granted('ROLE_SEGMENTO_EDIT') %}
            <li>
                <a role="menuitem" tabindex="-1"  href="#1" onclick="$.Segmento.editModal('{{ path('segmento_edit', { 'id': entity.id }) }}')">
                    <i class="fa fa-edit"></i> Editar
                </a>
            </li>
            {% endif %}
            {% if is_granted('ROLE_SEGMENTO_DELETE') %}
            <li>
                <a onclick="$.Segmento.deleteConfirm('{{ path('segmento_delete', { 'id': entity.id }) }}')" role="menuitem" tabindex="-1" href="#">
                    <i class="fa fa-times"></i> Eliminar
                </a>
            </li>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
            <li>
                <a onclick="$.Segmento.openAjaxModal('{{ path('gestion_evento_new_from_segmento', { 'id': entity.id }) }}','Nuevo Evento')" role="menuitem" tabindex="-1" href="#">
                    <i class="fa fa-trophy"></i> Crear evento
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>
