{% extends 'CommonBundle::layout.html.twig' %}

{% block contenidoToolbar %}
    <div class="toolbar row">
        <div class="col-sm-6 hidden-xs">
            <div class="page-header">
                <h1><i class="fa fa-list-ol"></i> Listado de Segmentos <small>Todo lo referido a los segmentos de inscripción</small></h1>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12">
            <div class="toolbar-tools pull-right">
                <!-- start: TOP NAVIGATION MENU -->
                <ul class="nav navbar-right">
                    <!-- start: TO-DO DROPDOWN -->
                    <!--<li class="dropdown">
                        <a  href="{{ path('inscripcion')}}" >
                            <i class="fa fa-arrow-left"></i> VOLVER
                        </a>
                    </li>-->
                    {#% if is_granted('ROLE_INSCRIPCION_NEW') %#}
                        <li class="dropdown">
                            <a  href="#1" onclick="$.Segmento.newModal('{{path('segmento_new')}}')">
                                <i class="fa fa-user"></i> NUEVO
                            </a>
                        </li>
                    {#% endif %#}
                </ul>
                <!-- end: TOP NAVIGATION MENU -->
            </div>
        </div>
    </div>
{% endblock %}
{% block contenidoBreadcrumb %}
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('homepage') }}">
                        <i class="fa fa-home" aria-hidden="true"></i>
                    </a>
                </li>                 
                <li>
                    <a href="{#{ path('inscripcion') }#}">
                        Inscripción
                    </a>
                </li>
                <li class="active">
                    Segmentos
                </li>
            </ol>
        </div>
    </div>
{% endblock %}
{% block contenidoData %}
    <div class="panel-heading">
        <h4 class="panel-title">Tabla <span class="text-bold">de segmentos </span></h4>
        <div class="panel-tools">
            <div class="dropdown">
                <a data-toggle="dropdown" class="btn btn-xs dropdown-toggle btn-transparent-grey">
                    <i class="fa fa-cloud-download"></i>
                </a>
                <!--<ul class="dropdown-menu dropdown-light pull-right" role="menu">
                    <li>
                        <a href="#1" class="export-csv">
                            <i class="fa fa-file-text-o"></i> Guardar como CSV
                        </a>
                    </li>
                    <li>
                        <a href="#1" class="export-txt">
                            <i class="fa fa-file-text-o"></i> Guardar como TXT
                        </a>
                    </li>
                    <li>
                        <a href="#1" class="export-sql">
                            <i class="fa fa-file-text-o"></i> Guardar como SQL
                        </a>
                    </li>
                    <li>
                        <a href="#1" class="export-json">
                            <i class="fa fa-file-text-o"></i> Guardar como JSON
                        </a>
                    </li>
                    <li>
                        <a href="#1" class="export-excel">
                            <i class="fa fa-file-text-o"></i> Exportar como Excel
                        </a>
                    </li>
                    <li>
                        <a href="#1" class="export-doc">
                            <i class="fa fa-file-text-o"></i> Exportar como Word
                        </a>
                    </li>
                </ul>-->
            </div>
            <div class="dropdown">
                <a data-toggle="dropdown" class="btn btn-xs dropdown-toggle btn-transparent-grey">
                    <i class="fa fa-cog"></i>
                </a>
                <ul class="dropdown-menu dropdown-light pull-right" role="menu">
                    <li>
                        <a class="panel-collapse collapses" href="#">
                            <i class="fa fa-angle-up"></i> <span>Minimizar</span>
                        </a>
                    </li>
                    <li>
                        <a class="panel-refresh" href="#">
                            <i class="fa fa-refresh"></i> <span>Recargar</span>
                        </a>
                    </li>
                    <li>
                        <a class="panel-expand" href="#">
                            <i class="fa fa-expand"></i> <span>Fullscreen</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table id="segmentoTable" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Segmento</th>
                        <th title="Eventos del segmento"><i class="fa fa-trophy" aria-hidden="true"></i></th>
                        <th title="Coordinadores del segmento"><i class="fa fa-sitemap" aria-hidden="true"></i></th>
                        <th title="Inscriptos en el segmento"><i class="fa fa-users" aria-hidden="true"></i></th>
                        <th class="hidden-sm hidden-xs">Parámetros</th>
                        <th style="min-width: 110px"></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block otherJavascripts %}
    <script>
        (function ($) {
            "use strict";
            // no se sobreescribe el namespace, si ya existe
            var _table;
            $.Segmento = $.Segmento || {};
            $.Segmento.init = function() {
                //$(".pop").popover({offset: 10,html: true,delay: { show: 50, hide: 25 }});
                _table = $('#segmentoTable').dataTable( {
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        "url": '{{ path('segmento_list_datatable') }}',
                        "type": 'POST'
                    },
                    "language" : {
                        "url" : "{{ asset('assets/common/Spanish.json') }}"
                    },
                    "columns": [
                        { "data": "id", "className": "text-center" },
                        { "data": "segmento" },
                        { "data": "eventos", "className": "text-center" },
                        { "data": "coordinadores", "className": "text-center" },
                        { "data": "inscriptos", "className": "text-center" },
                        { "data": "parametros", "className": "hidden-sm hidden-xs" },
                        { "data": "actions" }
                    ],
                    "bLengthChange" : true,
                    "bFilter" : true,
                    "order": [[ 1, 'asc' ]],
                    "pageLength" : 25,
                    "columnDefs": [
                        {
                            "searchable": false,
                            "orderable": false,
                            "targets": [5,6]
                        },
                        {
                            "targets": 5,
                            "searchable": false,
                            "orderable": false,
                            "render":   function ( data, type, full, meta ) {
                                            return type === 'display' ?
                                                    '<div>'+
                                                        '  <i title="Cantidad máxima de participantes" class="fa fa-arrow-circle-o-up text-success" aria-hidden="true"></i> '+ data.max +
                                                        '  <i title="Cantidad mínima de participantes" class="fa fa-arrow-circle-o-down text-success" aria-hidden="true"></i> '+ data.min +
                                                        '  <i title="Cantidad máxima de reemplazos" class="fa fa-arrow-circle-o-right text-danger" aria-hidden="true"></i> '+ data.reemplazos +
                                                    '</div><div>'+
                                                        '<i title="Fecha máxima de nacimiento" class="fa fa-calendar-plus-o text-info" aria-hidden="true"></i> '+ data.maxFecha +
                                                    '</div><div>'+
                                                        '<i title="Fecha mínima de nacimiento" class="fa fa-calendar-minus-o text-info" aria-hidden="true"></i> '+ data.minFecha +
                                                    '</div>'
                                                :'';
                                        }
                        }
                    ],
                    "fnCreatedRow": function( nRow, aData, iDataIndex ) {
                        $(nRow).attr( 'id', 'row_'+aData.id );
                        return nRow;
                    },
                    "fnDrawCallback": function(oSettings, json) {}       
                });
            }
            $.Segmento.initDatePicker = function(){
                $('.datetimepicker').datetimepicker({
                    // después ver cómo cargar el moment.locale("es") y me dé pelota :P
                    //locale: 'es',
                    viewMode: 'years',
                    format: 'DD/MM/YYYY'
                 });
            }
            //$.Default.inscripto = function(){}
            $.Segmento.newModal = function(url){
                $.Segmento.openAjaxModal(url,'Nuevo Segmento');
            }
            $.Segmento.editModal = function(url){
                let id = url.split('/');
                $('tr').removeClass('info');
                $('#row_'+id[id.length-2]).addClass('info');
                $.Segmento.openAjaxModal(url,'Editar Segmento');
            }
            $.Segmento.deleteConfirm = function(url){
                swal({
                    title: 'Esta seguro?',
                    text: "El segmento será borrado!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si, borrar!'
                },function () {
                    $.post(url,{})
                    .done((data)=>{
                        if (data.success){
                            swal('Borrado!','El segmento fue borrado con exito.','success')
                            _table.fnDraw(true);
                        }else{
                            swal('Cuidado!',data.message,'error')
                        }
                    }).fail(()=>{
                        swal('Cuidado!','Ocurrio un error en la comunicación con el servidor','error')
                    })
                })
            }            
            $.Segmento.openAjaxModal = function(url,title){
                $.Main.openFormModal(url,title, function(){
                        $.Segmento.initDatePicker();
                        $("#segmento_coordinadores").select2();
                        $('#panel-config form').submit(function(event){
                            $('#segmentoTable').parents('panel').block($.Main.defaultBlockConf());
                            $('#okButton').button('loading')
                            event.preventDefault();
                            $.post(url, $('#panel-config form').serialize(), function(data){
                                if(data.success){
                                    toastr['success'](data.message, 'Excelente!');
                                    _table.fnDraw(true);
                                    $.Main.closeFormModal();
                                }else if(data.error){
                                    toastr['error'](data.message, 'Cuidado!');
                                }else{
                                    $("#panel-config form").html($(data).find('form').html());
                                    $.Segmento.initDatePicker();
                                    $("#segmento_coordinadores").select2();
                                    toastr['warning']('Aún tiene campos obligatorios sin llenar o con datos erroneos.', 'Cuidado!');
                                }
                                $('#okButton').button('reset');
                                $('#segmentoTable').parents('panel').unblock();
                            });
                        });
                    }
                );
            }
        })(jQuery);
        $(document).ready(function(){$.Segmento.init();/*$.TableExport.init()*/});
    </script>
{% endblock %}