<style>
    .full-circle {
        background-color: #D9534F;
        -moz-border-radius:75px;
        -webkit-border-radius: 75px;
        width: 35px;
        color: #FFF;
        text-align: center;
        padding: 8px;
        font-weight: bold;
    }
</style>
<div class="row" style="padding-bottom:15px;">
    <div class="hidden-xs col-sm-12 text-center" title="Rojo: región sin finaliastas, verde con finalistas.">
        <span class="sem_reg_01 full-circle">01</span>
        <span class="sem_reg_02 full-circle">02</span>
        <span class="sem_reg_03 full-circle">03</span>
        <span class="sem_reg_04 full-circle">04</span>
        <span class="sem_reg_05 full-circle">05</span>
        <span class="sem_reg_06 full-circle">06</span>
        <span class="sem_reg_07 full-circle">07</span>
        <span class="sem_reg_08 full-circle">08</span>
        <span class="sem_reg_09 full-circle">09</span>
        <span class="sem_reg_10 full-circle">10</span>
        <span class="sem_reg_11 full-circle">11</span>
        <span class="sem_reg_12 full-circle">12</span>
        <span class="sem_reg_13 full-circle">13</span>
        <span class="sem_reg_14 full-circle">14</span>
        <span class="sem_reg_15 full-circle">15</span>
        <span class="sem_reg_16 full-circle">16</span>
    </div>
</div>
<table class="genericTable table table-striped table-hover">
    <thead>
        <tr>
            <th class="text-center" style="width: 10px"></th>
            <th class="text-center">Región</th>
            <th class="text-center">Muincipio</th>
            <th>Equipo/Participante</th>
            <th style="width: 95px"></th>
        </tr>
    </thead>
    <tbody>
        {% for equipo in etapa.equipos %}
            <tr id="row_{{ equipo.id }}" data-equipo="{{ equipo.id }}"  data-region="{{ equipo.planilla.municipio.regionDeportiva }}">
                <td class="text-center"><i class="fa fa-ellipsis-v">&nbsp;&nbsp;</i></td>
                <td class="text-center"><b>{{ equipo.planilla.municipio.regionDeportiva }}</b></td>
                <td>{{ equipo.planilla.municipio.nombre }}</td>
                <td>{{ equipo.getNombreCompletoRaw | raw }}</td>
                <td class="text-center">
                    {% if is_granted('ROLE_RESULTADO_EQUIPO_SHOW') %}
                        <button onclick="$.Evento.equipo.show({{ equipo.id }})" class="btn btn-xs btn-blue tooltips" data-placement="top" data-original-title="Ver resumén">
                            <i class="fa fa-eye-slash"></i>
                        </button>
                    {% endif %}
                    {% if not equipo.isIndividual() and is_granted('ROLE_RESULTADO_EQUIPO_SHOW_FULL') %}
                        <a href="{{ path('equipo_show_full', {'equipo': equipo.id}) }}" class="btn btn-xs btn-green tooltips" data-placement="top" data-original-title="Ver detalle">
                            <i class="fa fa-eye"></i>
                        </a>
                    {% endif %}
                    {% if is_granted('ROLE_RESULTADO_ETAPA_REGIONAL') %}
                        {% if etapa.evento.getEtapaRegional().containsEquipo(equipo) %}
                            <button onclick="$.Evento.equipo.ganadorRegionalToggle(true,{{ equipo.id }},{{ etapa.evento.id }})" class="btn btn-xs btn-red tooltips" data-placement="top" data-original-title="Deshacer ganador regional">
                                <i class="fa fa-times"></i>
                            </button>
                        {% else %}
                            <button onclick="$.Evento.equipo.ganadorRegionalToggle(false,{{ equipo.id }},{{ etapa.evento.id }})" class="btn btn-xs btn-azure tooltips" data-placement="top" data-original-title="Ganador regional">
                                <i class="fa fa-check"></i>
                            </button>
                        {% endif %}
                    {% endif %}
                    {% if is_granted('ROLE_INSCRIPCION_PLANILLA_PRINT') %}
                        <a href="{{ path('planilla_print', {'segmento': equipo.planilla.segmento.id, 'idPlanilla': equipo.planilla.id}) }}" class="btn btn-xs btn-blue" title="Imprimir la planilla"><i class="fa fa-print"></i></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
