<div class="tabbable">
    <ul id="myTab" class="nav nav-tabs">
        {% for etapa in evento.etapas %}
            <li class="{% if loop.index == 1 %} active {% endif %}">
                <a href="#myTab_{{ etapa.id }}" data-toggle="tab" aria-expanded="false">
                    <i class="green {{ etapa.getIcon }}"></i>
                    {{ etapa.nombre }}
                    <span class="stats" data-update="{{ path('resultado_etapa_stats_avance', {'id':etapa.id}) }}">
                        {{ etapa.getStateBadgeRaw | raw }}
                    </span>
                </a>
            </li>
        {% endfor %}
            <li class="">
                <a href="#myTab_fixtures" data-toggle="tab" aria-expanded="false">
                    <i class="green fa fa-calendar-o"></i>
                    Fixture Completo
                </a>
            </li>
    </ul>
    <div class="tab-content">
        {% for etapa in evento.etapas %}
            <div class="tab-pane fade {% if loop.index == 1 %} in active {% endif %}" id="myTab_{{ etapa.id }}">
                {% if etapa.competencia %}
                    {% include 'ResultadoBundle:'~etapa.competencia.getFolder()~':edit.html.twig' with { 'competencia' : etapa.competencia } %}
                {% elseif etapa.isEtapaMunicipal or etapa.isEtapaRegional %}
                    {% include 'ResultadoBundle:Etapa:listadoGenerico.html.twig' with { 'etapa' : etapa } %}
                {% else %}
                    <div class="alert alert-block alert-danger fade in">
                        <button data-dismiss="alert" class="close" type="button">×</button>
                        <h4 class="alert-heading"><i class="fa fa-times"></i> Cuidado!</h4>
                        <p>
                            Esta <strong>etapa</strong> no tiene una <strong>forma de juego</strong> definida.<br>
                            <li>Si usted cuenta con los <strong>permisos</strong> necesarios para administrar competencias verá a continuación dichas opciones.</li>
                            <li>En caso contrario contacte a un usuario con más privilegios.</li>
                        </p>
                        <p>
                            {% if is_granted('ROLE_COMPETENCIA_NEW') %}
                                <a href="#example-subview-1" onclick="$.Evento.etapa.add('{{ path('resultado_competencia_new', { 'id': etapa.id }) }}')" class="btn btn-green tooltips show-sv" data-placement="top" data-original-title="Crear" data-startFrom="right">
                                    <span class="fa fa-edit"></span> Definir forma de juego
                                </a>

                                <a class="btn btn-red" onclick="$.Evento.etapa.remove('{{ path('resultado_etapa_reset', { 'id': etapa.id }) }}')">
                                    <span class="fa fa-edit"></span> Eliminar Etapa
                                </a>
                            {% endif %}
                            <a href="{{ path('resultado_evento_list') }}" class="btn btn-light-grey">
                                <span class="fa fa-arrow-left"></span> Cancelar y volver.
                            </a>
                        </p>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        <div class="tab-pane fade" id="myTab_fixtures">
            {% if evento.etapas %}
                {% include 'ResultadoBundle:Competencia:fixture.html.twig' with { 'evento' : evento } %}
            {% else %}
                <div class="alert alert-block alert-danger fade in">
                    <button data-dismiss="alert" class="close" type="button">×</button>
                    <h4 class="alert-heading"><i class="fa fa-times"></i> Cuidado!</h4>
                    <p>
                        Este <strong>evento</strong> no tiene una <strong>formas de juego</strong> definidas aún.<br>
                    </p>
                </div>
            {% endif %}
        </div>
    </div>
</div>
