<div id="carousel-fondos-generic" class="carousel slide" data-ride="" data-interval="false">
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        {% for fondo in fondos %}
            <div class="item {% if loop.index == 1 %}active{% endif %}" id="fondo_{{ fondo.id }}" data-id="{{ fondo.id }}">
                <div class="padding-10 no-padding-">
                    <i class="fa fa-money fa-3x"></i>
                    <h4 class="no-margin inline-block padding-5">{{ fondo.nombre }}<span class="block text-small text-left">{{ fondo.entidad }}</span></h4>
                    <h3 class="no-margin inline-block padding-5 pull-right progress_work_total_text"><i class="fa fa-spinner fa-pulse fa-fw"></i></h3>
                </div>
                    
                <div class="padding-10">
                    <div class="progress progress-xs transparent-black no-radius no-margin">
                        <div class="progress_work_total_bar progress-bar progress-bar-success partition-green animate-progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
                        <div class="progress_work_total_bar_stimated progress-bar progress-bar-warning" style="width: 0%"></div>
                        <div class="progress_work_total_bar_stimated_plus progress-bar progress-bar-success" style="width: 0%"></div>
                    </div>
                </div>
                <div class="clearfix padding-5 space5">
                    <div class="col-xs-4 text-center no-padding">
                        <div class="border-right border-dark">
                            <a href="#" class="text-dark fondo-montoDisponible" title="Monto disponible">
                                <i class="fa fa-usd text-green"></i> <span>{{ fondo.montoDisponible }}</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-4 text-center no-padding">
                        <div class="border-right border-dark">
                            <a href="#" class="text-dark fondo-montoReservado" title="Monto reservado">
                                <i class="fa fa-usd text-orange"></i> <span>{{ fondo.montoReservado }}</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-4 text-center no-padding">
                        <a href="#" class="text-dark fondo-montoUtilizado" title="Monto utilizado">
                            <i class="fa fa-usd text-red"></i> <span>{{ fondo.montoUtilizado }}</span>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <!-- Controls -->
    <a class="carousel-control-nb control-left" href="#carousel-fondos-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    </a>
    <a class="carousel-control-nb control-right" href="#carousel-fondos-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    </a>
</div>