{% extends 'CommonBundle::layout.html.twig' %}
{% block otherStylesheets %}
{% endblock %}

{% block contenidoToolbar %}
    <div class="toolbar row">
        <div class="col-sm-6 hidden-xs">
            <div class="page-header">
                <h1><i class="fa fa-list-ol"></i> Listados de Dimensiones <small>Todo lo referido a Categorias,Modalidades,Generos y Torneos de los Juegos Bonaerenses</small></h1>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12">
            <div class="toolbar-tools pull-right">
                <!-- start: TOP NAVIGATION MENU -->
                <ul class="nav navbar-right">
                    <!-- start: TO-DO DROPDOWN -->
                    <li class="dropdown">
                        <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" data-close-others="true" href="#">
                            <span class="messages-count badge badge-default hide">3</span> <i class="fa fa-plus"></i> NUEVO
                        </a>
                        <ul class="dropdown-menu dropdown-light dropdown-messages">
                            <li>
                                <div class="drop-down-wrapper ps-container">
                                    <ul>
                                        <li class="">
                                            <a href="#1" onclick="$.Dimension.openAjaxForm('{{ path('torneo_new') }}','Nuevo Torneo')">
                                                <i class="fa fa-plus"></i> Nuevo Torneo
                                            </a>
                                        </li>
                                        <li class="unread">
                                            <a  href="#1" onclick="$.Dimension.openAjaxForm('{{ path('modalidad_new') }}','Nueva Modalidad')">
                                                <i class="fa fa-plus"></i> Nueva Modalidad
                                            </a>
                                        </li>
                                        <li class="unread">
                                            <a  href="#1" onclick="$.Dimension.openAjaxForm('{{ path('categoria_new') }}','Nueva Categoría')">
                                                <i class="fa fa-plus"></i> Nueva Categoría
                                            </a>
                                        </li>
                                        <li class="unread">
                                            <a  href="#1" onclick="$.Dimension.openAjaxForm('{{ path('genero_new') }}','Nuevo Género')">
                                                <i class="fa fa-plus"></i> Nuevo Género
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- end: TOP NAVIGATION MENU -->
            </div>
        </div>
    </div>
{% endblock %}
{% block contenidoBreadcrumb %}
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('homepage') }}">
                        <i class="fa fa-home" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="{{ path('homepage_gestion') }}">
                        Gestion
                    </a>
                </li>
                <li class="active">
                    Dimensiones
                </li>
            </ol>
        </div>
    </div>
{% endblock %}
{% block contenidoContent %}
    <div class="row">
        <div class="col-md-6">
            {% include 'GestionBundle:Torneo:list.html.twig' %}
        </div>
        <div class="col-md-6">
            {% include 'GestionBundle:Modalidad:list.html.twig' %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {% include 'GestionBundle:Genero:list.html.twig' %}
        </div>
        <div class="col-md-6">
            {% include 'GestionBundle:Categoria:list.html.twig' %}
        </div>
    </div>
{% endblock %}
{% block otherJavascripts %}
    <script>
        (function ($) {
            // no se sobreescribe el namespace, si ya existe
            var _tableTorneo,
                _tableModalidad,
                _tableGenero,
                _tableCategoria;
            $.Dimension = $.Dimension || {};
            $.Dimension.table = {},
            $.Dimension.init = function() {
                $.Dimension.table.torneo();
                $.Dimension.table.genero();
                $.Dimension.table.categoria();
                $.Dimension.table.modalidad();
            }
            $.Dimension.blockTables = function(){
                $('.panel').block($.Main.defaultBlockConf());
            }
            $.Dimension.unblockTables = function(){
                _tableTorneo.fnDraw(true);
                _tableModalidad.fnDraw(true);
                _tableGenero.fnDraw(true);
                _tableCategoria.fnDraw(true);
            }
            $.Dimension.openAjaxForm = function(url,title) {
                $.Main.openFormModal(url,title, function(){
                        $('#panel-config form').submit(function(event){
                            $.Dimension.blockTables();
                            $('#okButton').button('loading')
                            event.preventDefault();
                            $.post(url, $('#panel-config form').serialize(), function(data){
                                if(data.success){
                                    toastr['success'](data.message, 'Excelente!');
                                    $.Main.closeFormModal();
                                }else if(data.error){
                                    toastr['error'](data.message, 'Cuidado!');
                                }else{
                                    $("#panel-config form").html($(data).find('form').html());
                                    toastr['warning']('Aún tiene campos obligatorios sin llenar o con datos erroneos.', 'Cuidado!');
                                }
                                $('#okButton').button('reset');
                                $.Dimension.unblockTables();
                            });
                        });
                    }
                );
            }
            $.Dimension.table.torneo = function() {
                _tableTorneo = $('#tableTorneo').dataTable( {
                    "autoWidth": false,
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        "url": '{{ path('torneo_list_datatable') }}',
                        "type": 'POST'
                    },
                    "language" : {
                        "url" : "{{ asset('assets/common/Spanish.json') }}"
                    },
                    "columns": [
                        { "data": "torneo.id", "className": "text-center" },
                        { "data": "torneo" },
                        { "data": "torneo.eventos", "className": "text-center" },
                        { "data": "actions" }
                    ],
                    "bLengthChange" : true,
                    "bFilter" : true,
                    "order": [[ 1, 'asc' ]],
                    "pageLength" : 25,
                    "columnDefs": [
                        {
                            "searchable": false,
                            "orderable": false,
                            "targets": [3]
                        },
                        {
                            "targets": 1,
                            "data": true,
                            "render":   function ( data, type, full, meta ) {
                                            return type === 'display' ?
                                                '<div title="'+ data['descripcion'] +'">'+ data.nombre +'</div>':'';
                                        }
                        }
                    ],
                    "drawCallback": function( oSettings ) {
                        $('#tableTorneo').parents('.panel').unblock();
                    },
                    "initComplete": function(settings, json) {
                        _tableTorneo.fnSetFilteringDelay();
                    }
                });
            },
            $.Dimension.table.genero = function() {
                _tableGenero = $('#tableGenero').dataTable( {
                    "autoWidth": false,
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        "url": '{{ path('genero_list_datatable') }}',
                        "type": 'POST'
                    },
                    "language" : {
                        "url" : "{{ asset('assets/common/Spanish.json') }}"
                    },
                    "columns": [
                        { "data": "genero.id", "className": "text-center" },
                        { "data": "genero" },
                        { "data": "genero.eventos", "className": "text-center" },
                        { "data": "actions" }
                    ],
                    "bLengthChange" : true,
                    "bFilter" : true,
                    "order": [[ 1, 'asc' ]],
                    "pageLength" : 25,
                    "columnDefs": [
                        {
                            "searchable": false,
                            "orderable": false,
                            "targets": [3]
                        },
                        {
                            "targets": 1,
                            "data": true,
                            "render":   function ( data, type, full, meta ) {
                                            return type === 'display' ?
                                                '<div title="'+ data['descripcion'] +'">'+ data.nombre +'</div>':'';
                                        }
                        }
                    ],
                    "drawCallback": function( oSettings ) {
                        $('#tableGenero').parents('.panel').unblock();
                    },
                    "initComplete": function(settings, json) {
                        _tableGenero.fnSetFilteringDelay();
                    }
                });
            },
            $.Dimension.table.categoria = function() {
                _tableCategoria = $('#tableCategoria').dataTable( {
                    "autoWidth": false,
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        "url": '{{ path('categoria_list_datatable') }}',
                        "type": 'POST'
                    },
                    "language" : {
                        "url" : "{{ asset('assets/common/Spanish.json') }}"
                    },
                    "columns": [
                        { "data": "categoria.id", "className": "text-center" },
                        { "data": "categoria" },
                        { "data": "categoria.eventos", "className": "text-center" },
                        { "data": "actions" }
                    ],
                    "bLengthChange" : true,
                    "bFilter" : true,
                    "order": [[ 1, 'asc' ]],
                    "pageLength" : 25,
                    "columnDefs": [
                        {
                            "searchable": false,
                            "orderable": false,
                            "targets": [3]
                        },
                        {
                            "targets": 1,
                            "data": true,
                            "render":   function ( data, type, full, meta ) {
                                            return type === 'display' ?
                                                '<div title="'+ data['descripcion'] +'">'+ data.nombre +'</div>':'';
                                        }
                        }
                    ],
                    "drawCallback": function( oSettings ) {
                        $('#tableCategoria').parents('.panel').unblock();
                    },
                    "initComplete": function(settings, json) {
                        _tableCategoria.fnSetFilteringDelay();
                    }
                });
            }
            $.Dimension.table.modalidad = function() {
                _tableModalidad = $('#tableModalidad').dataTable( {
                    "autoWidth": false,
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        "url": '{{ path('modalidad_list_datatable') }}',
                        "type": 'POST'
                    },
                    "language" : {
                        "url" : "{{ asset('assets/common/Spanish.json') }}"
                    },
                    "columns": [
                        { "data": "modalidad.id", "className": "text-center" },
                        { "data": "modalidad" },
                        { "data": "modalidad.eventos", "className": "text-center" },
                        { "data": "actions" }
                    ],
                    "bLengthChange" : true,
                    "bFilter" : true,
                    "order": [[ 1, 'asc' ]],
                    "pageLength" : 25,
                    "columnDefs": [
                        {
                            "searchable": false,
                            "orderable": false,
                            "targets": [3]
                        },
                        {
                            "targets": 1,
                            "data": true,
                            "render":   function ( data, type, full, meta ) {
                                            return type === 'display' ?
                                                '<div title="'+ data['descripcion'] +'">'+ data.nombre +'</div>':'';
                                        }
                        }
                    ],
                    "drawCallback": function( oSettings ) {
                        $('#tableModalidad').parents('.panel').unblock();
                    },
                    "initComplete": function(settings, json) {
                        _tableModalidad.fnSetFilteringDelay();
                    }
                });
            }
        })(jQuery);
        $(document).ready(function(){$.Dimension.init();});
    </script>
{% endblock %}
