{% extends 'AcreditacionBundle::layout.html.twig' %}

{% form_theme form 'AcreditacionBundle:Fields:checkbox.html.twig' %}

{% block acreditacion_tab_acreditacion %}
    <li role="presentation" class="active {% if(hasError) %}hasError{% endif %}"><a href="#"><h4 class="panel-title">DATOS DE ACREDITACION</h4></a></li>
    {% endblock %}

{% block acreditacion_contenido %}
    <div class="form-group col-md-8 datosIzq">
        <div class="form-group">
            <label class="col-md-12 staticLabel">
                <strong><em>Área:</em></strong>
            </label>
            <div class="col-md-12 text-center">
                <p class="form-control-static text-extra-large">{{ entity.getArea().getNombre() | capitalize }}  </p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-12 staticLabel">
                <strong><em>Función:</em></strong>
            </label>
            <div class="col-md-12 text-center">
                <p class="form-control-static text-extra-large">{{ entity.getFuncion().getNombre() | capitalize }}  </p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-12 staticLabel">
                <strong><em>Letra:</em></strong>
            </label>
            <div class="col-md-12 text-center">
                <p class="form-control-static text-extra-large">{{ entity.getLetraIdentificacion() | upper }}  </p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-12 staticLabel">
                <strong><em>Accesos:</em></strong>
            </label>
            <div class="col-md-12 text-center">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th class="text-center col-md-2" ><small>SECTOR 1</small></th>
                            <th class="text-center col-md-2" ><small>SECTOR 2</small></th>
                            <th class="text-center col-md-2" ><small>SECTOR 3</small></th>
                            <th class="text-center col-md-2" ><small>SECTOR 4</small></th>
                            <th class="text-center col-md-2" ><small>SECTOR 5</small></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">
                                {% if (entity.getAccesoSector1()) %}
                                    <strong>SI</strong>
                                {% else %}
                                    <strong>NO</strong>
                                {% endif %}
                            </td>
                            <td class="text-center">
                                {% if (entity.getAccesoSector2()) %}
                                    <strong>SI</strong>
                                {% else %}
                                    <strong>NO</strong>
                                {% endif %}
                            </td>
                            <td class="text-center">
                                {% if (entity.getAccesoSector3()) %}
                                    <strong>SI</strong>
                                {% else %}
                                    <strong>NO</strong>
                                {% endif %}
                            </td>
                            <td class="text-center">
                                {% if (entity.getAccesoSector4()) %}
                                    <strong>SI</strong>
                                {% else %}
                                    <strong>NO</strong>
                                {% endif %}
                            </td>
                            <td class="text-center">
                                {% if (entity.getAccesoSector5()) %}
                                    <strong>SI</strong>
                                {% else %}
                                    <strong>NO</strong>
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="form-group col-md-4 datosDer text-center">
        <a id="contenedorAvatar" class="thumbnail">
            <img id="personal_avatar" src="data:image/jpg;base64,{{ entity.avatar.archivo() }}" alt="Foto de Acreditación"/>
        </a>
    </div>
{% endblock acreditacion_contenido %}

{% block otherStylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/common/plugins/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/acreditacion/css/datosAcreditativo.css') }}">
{% endblock %}

{% block otherJavascripts %}
    {{ parent() }}   
{% endblock %}