<div>
    <div class="col-sm-12"> 
        <table class="table table-striped table-hover plazas_show" id="tabla-zona-{{ zona.id }}" data-update="{{ path('plaza_posicion_update', { 'id': competencia.id }) }}">
            <thead>
                <tr>
                    <th class="text-center" style="width: 60px;">#</th>
                    <th class="text-center" style="width: 60px"></th>
                    <th>Plazas</th>
                    {{ zona.getColumnsRaw() | raw }}
                </tr>
            </thead>
            <tbody>
                {% for plaza in zona.plazas %}
                    <tr data-plaza="{{ plaza.id }}">
                        <td class="text-center"><span class="fa fa-ellipsis-v hidden edit-show">&nbsp;&nbsp;</span><span class="td-orden">{{ loop.index }}</span></td>
                        <td class="text-center"><span class="fa fa-user"></span></td>
                        <td>{{ plaza.getNombreCompetenciaRaw | raw }}</td>
                        {{ zona.getDetalleZonaRaw(plaza) | raw }}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <div class="col-sm-12" style="margin: 35px 0px;">  
        <h4 class="panel-title">Partidos <span class="text-bold">{{ zona }}</span></h4>
        <table class="table table-hover" id="sample-table-1">
            <thead>
                <tr>
                    <th></th>
                    <th class="text-right">Equipo</th>
                    <th style="width: 40px"></th>
                    <th class="center">vs</th>
                    <th style="width: 40px"></th>
                    <th class="text-left">Equipo</th>
                </tr>
            </thead>
            <tbody>
                {% for partido in zona.partidos %}
                <tr>
                    <td class="text-right">
                        <small>{{ partido.nombre }}</small>
                    </td>
                    <td class="text-right">
                        {% if (partido.plaza1) %}
                            {{ partido.plaza1.getNombreCompetenciaRaw | raw }}
                        {% endif %}
                    </td>
                    <td class="center">{{ partido.resultadoLocal }}</td>
                    <td class="center">
                        {% if (partido.cronograma) %}
                            {{ partido.cronograma.getRaw | raw }}
                        {% endif %}
                        {% if (partido.tanteador is defined) %}{{ partido.tanteador }}{% endif %}
                    </td>
                    <td class="center">{{ partido.resultadoVisitante }}</td>
                    <td class="text-left">
                        {% if (partido.plaza2) %}
                            {{ partido.plaza2.getNombreCompetenciaRaw | raw }}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>