{% extends 'CommonBundle::layout.html.twig' %}

{% block contenidoToolbar %}
    <div class="toolbar row">
        <div class="col-sm-6 hidden-xs">
            <div class="page-header">
                <h1><i class="fa fa-list-ol"></i> Listado de eventos <small></small></h1>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12">
            <a href="#" class="close-subviews">
                <i class="fa fa-arrow-left"></i> VOLVER
            </a>            
            <div class="toolbar-tools pull-right">
                <!-- start: TOP NAVIGATION MENU -->
                <ul class="nav navbar-right">
                </ul>
                <!-- end: TOP NAVIGATION MENU -->
            </div>
        </div>
    </div>
{% endblock %}
{% block contenidoBreadcrumb %}
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('homepage') }}">
                        <i class="fa fa-home" aria-hidden="true"></i>
                    </a>
                </li>                 
                <li>
                    <a href="{{ path('resultados') }}">
                        Resultados
                    </a>
                </li>
                <li class="active">
                    Listado
                </li>
            </ol>
        </div>
    </div>
{% endblock %}
{% block contenidoData %}
    <style>
        #inputDirect{
            width: 45px;
            text-align: right;
            height: 49px;
            border: none;
            font-size: 19px;
        }
    </style>
    <div class="panel-heading border-light">
        <h4 class="panel-title">Listado de medallas de<span class="text-bold"> {{ municipios[pos]["nombre"] }}</span></h4>
        <ul class="panel-heading-tabs border-light">
            <li>
                <div class="pull-right" style="font-size: 20px" title="Posición">
                    <i class="fa fa-trophy text-red"></i><span class="text-bold"> {{ pos +1 }} </span>
                </div>
            </li>            
            <li>
                <div class="pull-right" style="font-size: 20px" title="Oro">
                    <img style="height: 20px;" src="{{ asset('bundles/resultado/images/medallas/oro_thumb.png') }}"><span class="text-bold"> {{ municipios[pos]["medallero"][0] }} </span>
                </div>
            </li>
            <li>
                <div class="pull-right" style="font-size: 20px" title="Plata">
                    <img style="height: 20px;" src="{{ asset('bundles/resultado/images/medallas/plata_thumb.png') }}"></i><span class="text-bold"> {{ municipios[pos]["medallero"][1] }} </span>
                </div>
            </li>
            <li>
                <div class="pull-right" style="font-size: 20px" title="Bronce">
                    <img style="height: 20px;" src="{{ asset('bundles/resultado/images/medallas/bronce_thumb.png') }}"><span class="text-bold"> {{ municipios[pos]["medallero"][2] }} </span>
                </div>
            </li>            
            <li class="panel-tools">
                {{ include('CommonBundle::dropdownTables.html.twig') }}
            </li>            
        </ul>
    </div>
    <div class="panel-body">
        <table id="eventosTable" class="table table-striped table-hover">
            <thead>
                <tr>
                    <th class="center"></th>
                    <th>Medalla</th>
                    <th>Evento</th>
                    <th>Otras Medallas del evento</th>
                </tr>
            </thead>
            <tbody>
                {% for plaza in plazas %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td><img src="{{ asset(plaza.getMedalla) }}"></td>
                        <td>
                            <a href="{{ path('resultado_evento_edit', {'id' : plaza.equipo.evento.id }) }}" style="color: inherit;cursor: pointer">
                                {{ plaza.equipo.evento.getNombreCompletoRaw | raw }}
                            </a>
                        </td>
                        <td>
                            {% for pl in plaza.equipo.evento.getPlazasMedallero if pl.id != plaza.id %}
                                {% if (pl.equipo) %}
                                    <p>
                                        <a href="{{ path('competenciaMedallero_detalle', {'id' : pl.equipo.municipio.id }) }}" style="color: inherit;cursor: pointer;margin: 5px;">
                                            <img style="height: 20px;" src="{{ asset(pl.getMedalla) }}">  {{ pl.equipo.municipio.nombre }}
                                        </a>
                                    </p>
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}