<div class="panel panel-white">
    <div class="panel-heading">
        <h4 class="panel-title">Tabla <span class="text-bold">analítica de inscriptos para: {#{ evento.nombreCompleto }#}</span></h4>
        <div class="panel-tools">
            <div class="dropdown">
                <a data-toggle="dropdown" class="btn btn-xs dropdown-toggle btn-transparent-grey">
                    <i class="fa fa-cloud-download"></i>
                </a>
                <ul class="dropdown-menu dropdown-light pull-right" role="menu">
                    <li>

                        <a href="#1" class="export-csv">
                            <i class="fa fa-file-text-o"></i> Guardar como CSV
                        </a>
                    </li>
                    <li>
                        <a href="#1" class="export-txt">
                            <i class="fa fa-file-text-o"></i> Guardar como TXT
                        </a>
                    </li>
                    <li>
                        <a href="#1" class="export-sql">
                            <i class="fa fa-file-text-o"></i> Guardar como SQL
                        </a>
                    </li>
                    <li>
                        <a href="#1" class="export-json">
                            <i class="fa fa-file-text-o"></i> Guardar como JSON
                        </a>
                    </li>
                    <li>
                        <a href="#1" class="export-excel">
                            <i class="fa fa-file-text-o"></i> Exportar como Excel
                        </a>
                    </li>
                    <li>
                        <a href="#1" class="export-doc">
                            <i class="fa fa-file-text-o"></i> Exportar como Word
                        </a>
                    </li>
                </ul>
            </div>
            <div class="dropdown">
                <a data-toggle="dropdown" class="btn btn-xs dropdown-toggle btn-transparent-grey">
                    <i class="fa fa-cog"></i>
                </a>
                <ul class="dropdown-menu dropdown-light pull-right" role="menu">
                    <li>
                        <a class="panel-collapse collapses" href="#">
                            <i class="fa fa-angle-up"></i> <span>Minimizar</span>
                        </a>
                    </li>
                    <li>
                        <a class="panel-refresh" href="#">
                            <i class="fa fa-refresh"></i> <span>Recargar</span>
                        </a>
                    </li>
                    <li>
                        <a class="panel-expand" href="#">
                            <i class="fa fa-expand"></i> <span>Fullscreen</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <style>
        #analíticalTable {width: 100% !important;}
        #analiticalTable th,#analiticalTable td{
            text-align: center;
            background: #ccc;
        }
        #analiticalTable .masculinos{
            background: #f0aa7b;
        }
        #analiticalTable .femeninos{
            background: #a0db8e
        }
        #analiticalTable .totales{
            background: #8ec4d0
        }
        #analiticalTable .totalesFinal{
            background: #FF6633;
        }
    </style>

    <div class="panel-body">
        <table id="analiticalTable" class="table table-striped table-hover dt-responsive">
            <thead>
                <tr style="display: none">
                    <th>#</th>
                    <th>Municipio</th>
                    <th></th>

                    <th>Masculino-Municipio</th>
                    <th>Masculino-Escuela</th>
                    <th>Masculino-Otro</th>
                    <th>Masculino-Total</th>

                    <th>Femenino-Municipio</th>
                    <th>Femenino-Escuela</th>
                    <th>Femenino-Otro</th>
                    <th>Femenino-Total</th>

                    <th>Total-Municipio</th>
                    <th>Total-Escuela</th>
                    <th>Total-Otro</th>
                    <th>Total-Total</th>
                </tr>
                <tr>
                    <th rowspan="2" style="min-width: 75px">#</th>
                    <th rowspan="2">Municipio</th>
                    <th rowspan="2"></th>
                    <th colspan="4" class="masculinos"><i class="fa fa-male"> Masculino</th>
                    <th colspan="4" class="femeninos"><i class="fa fa-female"> Femenino</th>
                    <th colspan="4" class="totales"><i class="fa fa-asterisk"></i> Total</th>
                </tr>
                <tr>
                    <th class="masculinos"><i class="fa fa-building-o" title="Municipio"><span class="sr-only">Municipio</span></i></th>
                    <th class="masculinos"><i class="fa fa-book" title="Escuela"><span class="sr-only">Escuela</span></i></th>
                    <th class="masculinos"><i class="fa fa-dribbble" title="Otro"><span class="sr-only">Otro</span></i></th>
                    <th class="masculinos"><i class="fa fa-asterisk" title="Total"><span class="sr-only">Total</span></i></th>

                    <th class="femeninos"><i class="fa fa-building-o" title="Municipio"><span class="sr-only">Municipio</span></i></th>
                    <th class="femeninos"><i class="fa fa-book" title="Escuela"><span class="sr-only">Escuela</span></i></th>
                    <th class="femeninos"><i class="fa fa-dribbble" title="Otro"><span class="sr-only">Otro</span></i></th>
                    <th class="femeninos"><i class="fa fa-asterisk" title="Total"><span class="sr-only">Total</span></i></th>

                    <th class="totales"><i class="fa fa-building-o" title="Municipio"><span class="sr-only">Municipio</span></i></th>
                    <th class="totales"><i class="fa fa-book" title="Escuela"><span class="sr-only">Escuela</span></i></th>
                    <th class="totales"><i class="fa fa-dribbble" title="Otro"><span class="sr-only">Otro</span></i></th>
                    <th class="totales"><i class="fa fa-asterisk" title="Total"><span class="sr-only">Total</span></i></th>
                </tr>

            </thead>
            <tbody>
                {% for item in analitico %}
                    {% set contadorMasculinosAux = item.cantidadMasculinosMunicipio + item.cantidadMasculinosEscuela +item.cantidadMasculinosOtro %}
                    {% set contadorFemeninosAux = item.cantidadFemeninosMunicipio + item.cantidadFemeninosEscuela +item.cantidadFemeninosOtro %}
                    {% set contadorMunicipioAux = item.cantidadMasculinosMunicipio + item.cantidadFemeninosMunicipio %}
                    {% set contadorEscuelaAux = item.cantidadMasculinosEscuela + item.cantidadFemeninosEscuela %}
                    {% set contadorOtroAux = item.cantidadMasculinosOtro + item.cantidadFemeninosOtro %}
                    {% set contadorTotalAux = contadorMunicipioAux + contadorEscuelaAux + contadorOtroAux %}

                    <tr>
                        <td><i class="fa fa-random" title="Regional"></i> {{ item.regional }} </td>
                        <td style="text-align: left">{{ item.municipioNombre }}</td>
                        <td></td>
                        <td class="masculinos">{{ item.cantidadMasculinosMunicipio }}</td>
                        <td class="masculinos">{{ item.cantidadMasculinosEscuela }}</td>
                        <td class="masculinos">{{ item.cantidadMasculinosOtro }}</td>
                        <td class="masculinos">{{ contadorMasculinosAux }}</td>


                        <td class="femeninos">{{ item.cantidadFemeninosMunicipio }}</td>
                        <td class="femeninos">{{ item.cantidadFemeninosEscuela }}</td>
                        <td class="femeninos">{{ item.cantidadFemeninosOtro }}</td>
                        <td class="femeninos">{{ contadorFemeninosAux }}</td>

                        <td class="totales">{{ contadorMunicipioAux }}</td>
                        <td class="totales">{{ contadorEscuelaAux }}</td>
                        <td class="totales">{{ contadorOtroAux }}</td>
                        <td class="totales">{{ contadorTotalAux }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="totalesFinal">TOTALES</td>
                    <td class="totalesFinal"><i class="fa fa-refresh fa-spin"></i></td>
                    <td class="totalesFinal"><i class="fa fa-refresh fa-spin"></i></td>
                    <td class="totalesFinal"><i class="fa fa-refresh fa-spin"></i></td>
                    <td class="totalesFinal"><i class="fa fa-refresh fa-spin"></i></td>

                    <td class="totalesFinal"><i class="fa fa-refresh fa-spin"></i></td>
                    <td class="totalesFinal"><i class="fa fa-refresh fa-spin"></i></td>
                    <td class="totalesFinal"><i class="fa fa-refresh fa-spin"></i></td>
                    <td class="totalesFinal"><i class="fa fa-refresh fa-spin"></i></td>

                    <td class="totalesFinal"><i class="fa fa-refresh fa-spin"></i></td>
                    <td class="totalesFinal"><i class="fa fa-refresh fa-spin"></i></td>
                    <td class="totalesFinal"><i class="fa fa-refresh fa-spin"></i></td>
                    <td class="totalesFinal"><i class="fa fa-refresh fa-spin"></i></td>
                </tr>
            </tfoot>
        </table>
        Cantidad de municipios con inscriptos : {{ analitico | length }}
    </div>
</div>
