{% extends 'CommonBundle::layout.html.twig' %}

{% block contenidoToolbar %}
    <div class="toolbar row">
        <div class="col-sm-6 hidden-xs">
            <div class="page-header">
                <h1><i class="fa fa-list-ol"></i> Resumen por segmento<small>Filtre y acceda a la información sobre los totaltes de inscripctos.</small></h1>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12">
            <div class="toolbar-tools pull-right">
                <!-- start: TOP NAVIGATION MENU -->
                <ul class="nav navbar-right">
                    <!-- start: TO-DO DROPDOWN -->
                </ul>
                <!-- end: TOP NAVIGATION MENU -->
            </div>
        </div>
    </div>
{% endblock %}
{% block contenidoBreadcrumb %}
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('homepage') }}">
                        <i class="fa fa-home" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="#1">
                        Inscripción
                    </a>
                </li>
                <li>
                    <a href="#1">
                        Consultas
                    </a>
                </li>
                <li class="active">
                    Resumen por segmento
                </li>
            </ol>
        </div>
    </div>
{% endblock %}
{% block contenidoContent %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-heading">
                    <h4 class="panel-title">Arbol de Filtros <span class="text-bold">seleccione los segmentos para filtrar</span></h4>
                    <div class="panel-tools">
                        {{ include('CommonBundle::dropdownTables.html.twig') }}
                    </div>
                </div>
                <div class="panel-body">
                    <div id="tree" class="tree-demo"></div>
                </div>
            </div>
        </div>
        <div id="reloadTable" class="col-md-12">
            {% include 'InscripcionBundle:Default:resumenPorSegmento.table.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block otherStylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/common/jstree/dist/themes/default/style.css') }}">
{% endblock %}
{% block otherJavascripts %}
    <script src="{{ asset('assets/common/jstree/dist/jstree.min.js') }}"></script>
    <script src="{{ asset('assets/js/fileSaver.min.js') }}"></script>
    <script src="{{ asset('assets/js/tableexport.min.js') }}"></script>
    <script>
        (function ($) {
            // no se sobreescribe el namespace, si ya existe
            var table,
                totales = [],
                modoTexto = true,
                numcolums = 0;

            $.Default = $.Default || {};
            $.Default.init = function() {
                //$(".pop").popover({offset: 10,html: true,delay: { show: 50, hide: 25 }});

                $("#tree").on('ready.jstree', function (e, data) {
                    $('#tree').jstree("deselect_all");
                    $('#tree').jstree('close_all').on('changed.jstree', function (e, data) {
                        var str=[];
                        for(i = 0, j = data.selected.length; i < j; i++) {
                            id = data.instance.get_node(data.selected[i]).id;
                            if (id.indexOf("ev-") >= 0) {
                                id=id.split('-');
                                str.push(id[1]);
                            }
                        };
                        var el = $('#analiticalTable').parents(".panel");
                        el.block({
                            overlayCSS: { backgroundColor: '#fff' },
                            message: '<i class="fa fa-spinner fa-spin"></i>',
                            css: { border: 'none', color: '#333', background: 'none' }
                        });
                        $.post( '{{ path('consulta_resumenPorSegmento_inscripcion') }}', {'eventos':str}, function(data){
                            $('#reloadTable').html(data);
                            el.unblock();
                            $.Default.initTable();
                            $.TableExport.init();
                        });
                    });
                }).jstree({
                    "core" : {
                        "themes" : {
                            "responsive" : false
                        },
                        // so that create works
                        "check_callback" : true,
                        'data' : {
                            'url' : "{{ path('segmento_tree') }}",
                            'data' : function (node) {
                                return { 'id' : node.id };
                            }
                        }
                    },
                    "types" : {
                        "default" : {
                            "icon" : "fa fa-folder text-red fa-lg"
                        },
                        "file" : {
                            "icon" : "fa fa-file text-red fa-lg"
                        }
                    },
                    "checkbox" : {
                          "keep_selected_style" : false
                        },
                    "plugins" : ["checkbox", "types"]
                });
            }
            $.Default.toggleModoTexto = function(){
                if (!modoTexto){
                    $('.linkModoTexto').find('i, span').addClass('text-info');
                    $('.linkModoNumerico').find('i, span').removeClass('text-info');
                    modoTexto = true;
                    $('.sinInscripcion span,.conInscripcion span').toggle();
                }
            }
            $.Default.toggleModoNumerico = function(check){
                check = check || true;
                if (check || modoTexto){
                    $('.linkModoTexto').find('i, span').removeClass('text-info');
                    $('.linkModoNumerico').find('i, span').addClass('text-info');
                    modoTexto = false;
                    $('.sinInscripcion span,.conInscripcion span').toggle();
                }
            }
            $.Default.initTable = function() {
                numcolums = $('#analiticalTable').data('numcolums');
                totales=[];
                for (i = 0; i < numcolums; i++) {totales.push(0);}
                table=$('#analiticalTable').dataTable( {
                    "language": {
                        "url" : "{{ asset('assets/common/Spanish.json') }}"
                    },
                    "columnDefs": [ {
                                    "searchable": false,
                                    "orderable": false,
                                    "targets": 'no-search'
                                }],
                    "order": [[ 0, 'asc' ]],
                    "fnRowCallback": function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {
                        for (i = 0; i <  numcolums; i++) {
                            totales[i]=totales[i]+parseInt($('td:eq('+(i+3)+')', nRow).attr('title'));
                        }
                    },
                    "fnDrawCallback": function(){
                        $tfoot=$('#analiticalTable tfoot');
                        for (i = 0; i <  numcolums; i++) {
                            $tfoot.find("td:eq("+(i+1)+")").html(totales[i]);
                        }
                        if (!modoTexto){
                            $.Default.toggleModoNumerico(false);
                        }
                        totales=[];
                    },
                    "aLengthMenu" : [[25, 50, 75, 100, -1], [25, 50, 75, 100, "Todas"]],
                    "iDisplayLength" : 25
                });
            }
        })(jQuery);
        $(document).ready(function(){$.Default.init();$.TableExport.init()});

        (function ($) {
            var exportTable = "#analiticalTable";
            var ignoreColumn;
            // no se sobreescribe el namespace, si ya existe
            $.TableExport = $.TableExport || {};
            $.TableExport.init = function() {
            //     /* Excel Binary spreadsheet (.xls) */
            //     $.fn.tableExport.xls = {
            //         defaultClass: "xls",
            //         buttonContent: "Export to xls",
            //         separator: "\t",
            //         mimeType: "application/vnd.ms-excel",
            //         fileExtension: ".xls"
            //     };
            //     /* Comma Separated Values (.csv) */
            //     $.fn.tableExport.csv = {
            //         defaultClass: "csv",
            //         buttonContent: "Export to csv",
            //         separator: ",",
            //         mimeType: "application/csv",
            //         fileExtension: ".csv"
            //     };
            //     /* Plain Text (.txt) */
            //     $.fn.tableExport.txt = {
            //         defaultClass: "txt",
            //         buttonContent: "Export to txt",
            //         separator: "  ",
            //         mimeType: "text/plain",
            //         fileExtension: ".txt"
            //     };
                var table = $(exportTable).tableExport();
				$(".export-excel").on("click", function(e) {
					e.preventDefault();
                    $('#analiticalTable thead>tr').toggle();
					$('.tableexport-caption>.xls').trigger('click');
                    $('#analiticalTable thead>tr').toggle();
				});
				$(".export-csv").on("click", function(e) {
					e.preventDefault();
                    $('#analiticalTable thead>tr').toggle();
                    $('.tableexport-caption>.csv').trigger('click');
                    $('#analiticalTable thead>tr').toggle();
				});
				$(".export-txt").on("click", function(e) {
					e.preventDefault();
                    $('#analiticalTable thead>tr').toggle();
					$('.tableexport-caption>.txt').trigger('click');
                    $('#analiticalTable thead>tr').toggle();
				});
            }
        })(jQuery);
    </script>
{% endblock %}
