{% extends "SeguridadBundle::layout.html.twig" %}

{% block othersCSS %}{% endblock %}
{% block content %}
    <div class="row">
        <div class="main-login col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
            <!-- start: LOGIN BOX -->
            <div class="box-login" style="display: block !important;">
                <h3 class="text-center">Corregir y/o completar los Datos</h3>
                <p>
                    {{form_start(form,{'attr':{'id':'formulario_user_check_data'}})}}
                    {{form_row(form.persona.nombre)}}
                    {{form_row(form.persona.apellido)}}
                    {{form_row(form.persona.fNacimiento)}}
                    {{form_row(form.persona.telefono)}}
                    {{form_row(form.persona.facebook)}}
                    {{form_row(form.persona.twitter)}}
                    {{form_row(form.persona.skype)}}
                    {{form_row(form.persona.linkedin)}}
                    <button class="btn btn-success col-md-4 pull-right" type="submit">Continuar</button>
                    {{form_end(form)}}
                </p>
                <!-- start: COPYRIGHT -->
                <div class="copyright">
                    {{ "now"|date("Y") }} &copy; Departamento de informática, Sub-secretaría de Deportes de la Provincia de Buenos Aires.
                </div>
                <!-- end: COPYRIGHT -->
            </div>
            <!-- end: LOGIN BOX -->
        </div>
    </div>
{% endblock %}
{% block othersJavaScript %}
    <script type="text/javascript">
        (()=> {
            "use strict";
            window.User = window.User || {}; //global variable, the root of our namespace
            //main function to initiate template pages
            User.init = (error)=> {
                $('#currentPassword').focus();
            }
        })();
        $().ready(()=>{
            User.init();
                  		$('.datetimepicker').datetimepicker({
				                                  //locale: 'es',
							                      viewMode: 'years',
				                                  format: 'DD/MM/YYYY'
    	                                       });
            });
        
    </script>    
{% endblock %}
{% block footerAll %}{% endblock %}