{% extends 'CommonBundle::layout.html.twig' %}

{% block contenidoToolbar %}
    <div class="toolbar row">
        <div class="col-sm-6 hidden-xs">
            <div class="page-header">
                <h1>Edición del Usuario <small>Todo los datos del usuario "{{entity.username}}"</small></h1>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12">
            <div class="toolbar-tools pull-right">
                <!-- start: TOP NAVIGATION MENU -->
                <ul class="nav navbar-right">
                    <!-- start: TO-DO DROPDOWN -->
                    <li class="menu-search">
                        <!-- start: SEARCH POPOVER -->
                        <div class="popover bottom search-box transition-all">
                            <div class="arrow"></div>
                            <div class="popover-content">
                                <!-- start: SEARCH FORM -->
                                <form class="" id="searchform" action="#">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Buscar">
                                        <span class="input-group-btn">
                                            <button class="btn btn-main-color btn-squared" type="button">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </form>
                                <!-- end: SEARCH FORM -->
                            </div>
                        </div>
                        <!-- end: SEARCH POPOVER -->
                    </li>
                </ul>
                <!-- end: TOP NAVIGATION MENU -->
            </div>
        </div>
    </div>
{% endblock %}
{% block contenidoBreadcrumb %}
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('user_list') }}">
                        Usuario
                    </a>
                </li>
                <li class="active">
                    <a href="{{ path('user_edit',{'user':entity.id}) }}">
                        {{entity.username}}
                    </a>
               </li>
            </ol>
        </div>
    </div>
{% endblock %}
{% block contenidoData %}
	{% set persona = entity.persona %}
    <!-- start: PAGE CONTENT -->
		<div class="row">
			<div class="col-sm-12">
				<div class="tabbable">
					<ul class="nav nav-tabs tab-padding tab-space-3 tab-blue" id="myTab4">
						<li class="active">
							<a data-toggle="tab" href="#panel_overview">
								Vista General
							</a>
						</li>
						<li>
							<a data-toggle="tab" href="#panel_edit_account">
								Editar Cuenta
							</a>
						</li>
					</ul>
					<div class="tab-content">
						<div id="panel_overview" class="tab-pane fade in active">
							<div class="row">
								<div class="col-sm-5 col-md-4">
									<div class="user-left">
										<div class="center">
											<h4>{{persona.apellido ~ ', ' ~ persona.nombre}}</h4>
												<div class="user-image">
													<div class="fileupload-new thumbnail"><img src="{{persona.avatar}}" alt="" style="max-height: 300px;"></div>
												</div>
											<hr>
											<div class="social-icons block">
												<ul>
													<li data-placement="top" data-original-title="Twitter" class="social-twitter tooltips">
														<a href="https://www.twitter.com/{% if persona.twitter %}{{persona.twitter}}{% endif %}" target="_blank">
															Twitter
														</a>
													</li>
													<li data-placement="top" data-original-title="Facebook" class="social-facebook tooltips">
														<a href="https://www.facebook.com/{% if persona.facebook %}{{persona.facebook}}{% endif %}" target="_blank">
															Facebook
														</a>
													</li>
													<li data-placement="top" data-original-title="Skype" class="social-skype tooltips">
														<a href="https://www.skype.com" target="_blank">
															Skype
														</a>
													</li>
													<li data-placement="top" data-original-title="LinkedIn" class="social-linkedin tooltips">
														<a href="https://www.linkedin.com/{% if persona.linkedin %}in/{{persona.linkedin}}{% endif %}" target="_blank">
															LinkedIn
														</a>
													</li>
												</ul>
											</div>
											<hr>
										</div>
										<table class="table table-condensed table-hover">
											<thead>
												<tr>
													<th colspan="2"><i class="fa fa-address-book fa-lg"></i> Información de Contacto</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>email:</td>
													<td><small>{{persona.email}}</small></td>
												</tr>
												<tr>
													<td>teléfono:</td>
													<td>{{persona.telefono}}</td>
												</tr>
												<tr>
													<td>skype:</td>
													<td>{{persona.skype}}</td>
												</tr>
												<tr>
													<td>facebook:</td>
													<td>{{persona.facebook}}</td>
												</tr>
												<tr>
													<td>linkedin:</td>
													<td>{{persona.linkedin}}</td>
												</tr>
												<tr>
													<td>twitter:</td>
													<td>{{persona.twitter}}</td>
												</tr>
											</tbody>
										</table>
										<table class="table table-condensed table-hover">
											<thead>
												<tr>
													<th colspan="3">Información General</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>Perfil</td>
													<td>{{entity.perfil}}</td>
													<td><a href="#panel_edit_account" class="show-tab"><i class="fa fa-pencil edit-user-info"></i></a></td>
												</tr>
												<tr>
													<td>Cargo</td>
													<td colspan="2">{{entity.cargo}}</td>
												</tr>
												<tr>
													<td>Última Actividad</td>
													<td colspan="2"><small>{{entity.lastActivity|date('d/m/Y [H:i:s]')}}</small></td>
												</tr>
												<tr>
													<td>Estado</td>
													<td><i class="fa fa-lg fa-thumbs-o-{% if entity.isActive %}up text-success">{% else %}down text-danger">{% endif %}</i></td>
													<td><a href="#panel_edit_account" class="show-tab"><i class="fa fa-pencil edit-user-info"></i></a></td>
												</tr>
											</tbody>
										</table>
										<table class="table table-condensed table-hover">
											<thead>
												<tr>
													<th colspan="3">Información Adicional</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>Nacimiento</td>
													<td colspan="2">{% if entity.persona.fNacimiento %}{{entity.persona.fNacimiento| date('d/m/Y')}}{% endif %}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div class="col-sm-7 col-md-8">
									<div class="panel panel-white space20">
										<div class="panel-heading">
											<i class="fa fa-cog fa-lg fa-spin"></i>
											Actividad Reciente
										</div>
										<div class="panel-body height-300" style="overflow-y: auto">
											<ul class="activities">
												{% for log in entity.logs|slice(0, 20) %}
												  <li>
													  <a class="activity" href="javascript:void(0)">
														   <span><i class="fa fa-laptop"></i> {{log.ip}}</span>
														   <span><i class="fa fa-clock-o"></i> {{log.createdAt | date ('d/m/Y [H:i:s]')}}</span>
														   <span><i class="fa fa-road"></i> {{log.activity}}</span>
														   <div><i class="fa fa-cog"></i> {{log.description}}</div>
													  </a>
												  </li>
											  {% endfor %} 
											</ul>
										</div>
								</div>
							</div>
						 </div>
						</div>
						<div id="panel_edit_account" class="tab-pane fade">
							{{form_start(form, {'attr': {'id': 'form_user_edit'}}) }}
								<div class="col-md-12 no-padding">
									<h3><i class="fa fa-edit"></i>Información de la Cuenta</h3>
									<hr>
								</div>
								<div class="col-sm-6 padding-horizontal-20">
									<div class="form-group">
										<label class="control-label">Nombre</label>
										<input disabled type="text" class="form-control" value="{{entity.persona.nombre}}">
									</div>
									<div class="form-group">
										<label class="control-label">Apellido</label>
										<input disabled type="text" class="form-control" value="{{entity.persona.apellido}}">
									</div>
									<div class="form-group">
										<label class="control-label">Email</label>
										<input disabled type="text" class="form-control" value="{{entity.persona.email}}">
									</div>
									<div class="form-group">
										<label class="control-label">Teléfono</label>
										<input disabled type="text" class="form-control" value="{{entity.persona.telefono}}">
									</div>
									<div class="form-group">
										<label class="control-label">Password</label>
										<input type="password" placeholder="password" class="form-control" name="password" id="password">
									</div>
									<div class="form-group">
										<label class="control-label">Confirmar Password</label>
										<input type="password" placeholder="password" class="form-control" id="password_confirm" name="password_confirm">
									</div>
									<div class="form-group">
										<label class="control-label">Perfil</label>
										{{form_widget(form.perfil)}}
										{{form_errors(form.perfil)}}
									</div>
									<div class="form-group">
										<label class="control-label">Cargo</label>
										{{form_widget(form.cargo)}}
										{{form_errors(form.cargo)}}
									</div>
								</div>
								<div class="col-sm-6 padding-horizontal-20">
									<div class="form-group">
										<label>Avatar</label>
										<div class="fileupload fileupload-new" data-provides="fileupload">
											<div class="fileupload-new thumbnail"><img src="{{entity.persona.avatar}}" alt="" style="max-height: 300px;"></div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label>Fecha de Nacimiento</label>
											<strong>{% if entity.persona.fNacimiento%} {{entity.persona.fNacimiento|date('d/m/Y')}}{% endif %}</strong>
											{{form_widget(form.isActive)}}
										</div>
									</div>
									<div class="col-md-8">
										<div class="form-group">
											<label class="control-label">Municipio</label>
											<strong>{{entity.persona.municipio}}</strong>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-8"></div>
									<div class="col-md-4">
										<button class="btn btn-green btn-block" type="submit">
											Listo <i class="fa fa-arrow-circle-right"></i>
										</button>
									</div>
								</div>
							{{form_end(form)}}
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end: PAGE CONTENT-->
{% endblock %}
{% block otherJavascripts %}
    <script type="text/javascript">
        (function ($) {
            // no se sobreescribe el namespace, si ya existe
            var _table;
            var _path_perfil_data  = "{{path('perfil_data')}}";
			var cargoOriginal = true;
            $.UsuarioEdit = $.UsuarioEdit || {};
            $.UsuarioEdit.charts = function(){},
            $.UsuarioEdit.actualizarCargos = function (idPerfil)
            {
				var url =  _path_perfil_data.replace('__00__',idPerfil);
				var select = $('#{{form.cargo.vars.id}}');
				select.empty();
				select.append('<option value="">Seleccionar Cargo..</option>');
				$.post( url,
                        null,
                        function(data)
                        {
							$.each(data.cargos, function(pos,cargo){
								select.append('<option value="'+cargo.id+'">'+cargo.name+'</option>');
							});
						    if(cargoOriginal)	
							{
								select.val({{entity.cargo.id}});
								cargoOriginal = false;
							}
                        }
                       );
            }
			
        })(jQuery);
        $(document).ready(function(){
			$('#{{form.perfil.vars.id}}').change();
			$('#form_user_edit').submit(function(){
				if($('#password').val() != $('#password_confirm').val())
				{
					 swal({
							title: "Error",
							text: 'Las contraseñas no coinciden',
							type: "error",
							showCancelButton: false,
							confirmButtonColor: "#DD6B55",
							confirmButtonText: "Aceptar",
							closeOnConfirm: true
								},
								function(){});
					 return false;
			   }
			   return;
			});
			
		});
    </script>
{% endblock %}    

