{% extends 'CommonBundle::layout.html.twig' %}

{% block contenidoToolbar %}
    <div class="toolbar row">
        <div class="col-sm-6 hidden-xs">
            <div class="page-header">
                <h1>Listado de Usuarios <small>Todo lo referido a los usuarios del sistema</small></h1>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12">
            <div class="toolbar-tools pull-right">
                <!-- start: TOP NAVIGATION MENU -->
                <ul class="nav navbar-right">
                    <!-- start: TO-DO DROPDOWN -->
                    {#
                    <li class="menu-search">
                        <!-- start: SEARCH POPOVER -->
                        <div class="popover bottom search-box transition-all">
                            <div class="arrow"></div>
                            <div class="popover-content">
                                <!-- start: SEARCH FORM -->
                                <form class="" id="searchform" action="#">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Buscar">
                                        <span class="input-group-btn">
                                            <button class="btn btn-main-color btn-squared" type="button">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </form>
                                <!-- end: SEARCH FORM -->
                            </div>
                        </div>
                        <!-- end: SEARCH POPOVER -->
                    </li>#}
                    {% if is_granted('ROLE_ADMIN')%}
                        <li class="dropdown">
                            <a  href="{{ path('logout_all_users')}}">
                                <i class="fa fa-user-times"></i> LOGOUT ALL
                            </a>
                        </li>
                    {% endif %}
                </ul>
                <!-- end: TOP NAVIGATION MENU -->
            </div>
        </div>
    </div>
{% endblock %}
{% block contenidoBreadcrumb %}
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('user_list') }}">
                        Usuario
                    </a>
                </li>
                <li class="active">
                    Listado
                </li>
            </ol>
        </div>
    </div>
{% endblock %}
{% block contenidoData %}
    <div class="panel-heading border-light">
        <h4 class="panel-title">Tabla <span class="text-bold">de usuarios</span></h4>
        <ul class="panel-heading-tabs border-light">
            {% if is_granted('ROLE_ADMIN') %}
            <li>
                <div class="pull-right" style="font-size: 18px;font-weight: 800;" title="Cantidad de Usuarios on-line">
                    <i class="fa fa-user text-yellow"></i> <span id="logueados_cant"></span>
                </div>
            </li>
             <li>
                <div class="pull-right" style="font-size: 18px;font-weight: 800;" title="Cantidad de Usuarios An칩nimos">
                    <i class="fa fa-user-o text-blue"></i> <span id="anonimos_cant"></span>
                </div>
            </li>
            {% endif %}
            <li class="panel-tools">
                {{ include('CommonBundle::dropdownTables.html.twig') }}
            </li>            
        </ul>
    </div>
    <style>
        .popover-content{
            overflow: hidden;
        }
    </style>
    <div class="panel-body">
        <table id="list_users" class="table table-striped table-hover" width="100%">
            <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th class="text-center">Ico</th>
                    <th class="">Usuario</th>
                    <th class="">Nombre</th>
                    <th class="text-center">DNI</th>
                    <th class="">Perfil</th>
                    <th class="" title="Email registrado"><span class="fa fa-envelope fa-lg"></span></th>
                    <th class="" title="Usuario Activo"><span class="fa fa-user fa-lg"></span></th>
                    <th class="" title="Informaci칩n del usuario"><span class="glyphicon glyphicon-info-sign"></span></th>
                    <th class="" title="Debe cambiar contrase침a al iniciar"><span class="glyphicon glyphicon-lock"></span></th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
{% endblock %}
{% block otherJavascripts %}
    <script type="text/javascript">
        (function ($) {
            // no se sobreescribe el namespace, si ya existe
            var _table;

            $.Usuario = $.Usuario || {};
            $.Usuario.init = function() {
                 _table=$('#list_users').DataTable({
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        "url": '{{ path('user_list_datatable') }}',
                        "type": 'POST'
                    },
                    "language" : {
                        "url" : "{{ asset('assets/common/Spanish.json') }}"
                    },
                    "columns": [
                        { "data": "id" },
                        { "data": "ico" },
                        { "data": "user" },
                        { "data": "persona.name" },
                        { "data": "persona.dni" },
                        { "data": "perfil" },
                        { "data": "persona.email" },
                        { "data": "active" },
                        { "data": "info" },
                        { "data": "pass" },
                        { "data": "actions" }
                    ],
                    "bLengthChange" : true,
                    "bFilter" : true,
                    "order": [[ 0, 'asc' ]],
                    "pageLength" : 25,
                    "columnDefs": [
                        {
                            "searchable": false,
                            "orderable": false,
                            "targets": [1,5,6,7,8,9,10]
                        },
                        {
                            "targets": 1,
                            "data": false,
                            "render":   function ( data, type, full, meta ) {
                                            return type === 'display' && data.ico === true ?
                                                '<span class="fa fa-user-secret" aria-hidden="true"><span class="sr-only">1</span></span>':
                                                '<span class="fa fa-user" aria-hidden="true"><span class="sr-only">0</span></span>';
                                        }
                        },
                        {
                            "targets": 6,
                            "data": false,
                            "render":   function ( data, type, full, meta ) {
                                            return type === 'display' ?
                                                '<button type="button" class="btn btn-warning btn-xs" data-container="body" data-toggle="popover" data-placement="left" data-html="true" data-content="'+data+'">'+
                                                    '<span class="fa fa-envelope-o"></span>'+
                                                '</button>':
                                                '<span class="sr-only">0</span>';
                                        }
                        },
                        {
                            "targets": 7,
                            "data": false,
                            "render":   function ( data, type, full, meta ) {
                                            return type === 'display' && data === true ?
                                                '<span class="glyphicon glyphicon-ok-sign text-success"><span class="sr-only">1</span></span>':
                                                '<span class="glyphicon glyphicon-remove-sign text-danger"><span class="sr-only">0</span></span>';
                                        }
                        },
                        {
                            "targets": 8,
                            "data": false,
                            "render":   function ( data, type, full, meta ) {
                                            created = data.created ? new Date(data.created.date).toLocaleString():"";
                                            lastop = data.lastop ? new Date(data.lastop.date).toLocaleString():"";
                                            return type === 'display' ?
                                                '<button type="button" class="btn btn-warning btn-xs" data-container="body" data-toggle="popover" data-placement="left" data-html="true" data-content="<b>Creado:</b> ' + created + '<br><b>Ult.Operaci칩n:</b>' + lastop + '">'+
                                                    '<span class="glyphicon glyphicon-info-sign"></span>'+
                                                '</button>':
                                                '<span class="sr-only">0</span>';
                                        }
                        },
                        {
                            "targets": 9,
                            "data": false,
                            "render":   function ( data, type, full, meta ) {
                                            return type === 'display' && data === true ?
                                                '<span class="glyphicon glyphicon-ok-sign text-success"><span class="sr-only">1</span></span>':
                                                '<span class="sr-only">0</span>';
                                        }
                        }
                    ],
                    "fnCreatedRow": function( nRow, aData, iDataIndex ) {
                        let rowClass = '';
                        switch (aData.perfil){
                            case "Administrador" :
                                    rowClass = 'danger';
                                break;
                            case "Coordinador" :
                                    rowClass = 'success';
                                break;
                            case "Organizador" :
                                    rowClass = 'info';
                                break;
                        }
                        $(nRow).addClass( rowClass );
                            
                        return nRow;
                    },
                    "fnDrawCallback": function(oSettings, json) {
                        $('#logueados_cant').html(_table.ajax.json().logueados);
                        $('#anonimos_cant').html(_table.ajax.json().anonimos);
                        $('[data-toggle="popover"]').popover();
                        $input = $('#list_users_filter input');
                        if ($input.val().length>0) {
                            $('#list_users tbody td').each(function(){
                                $td=$(this);
                                if ($td.text().toUpperCase().indexOf($input.val().toUpperCase())>-1) {
                                    $td.html($td.text().toUpperCase().replace($input.val().toUpperCase(),'<span class="occurrence">'+$input.val().toUpperCase()+'</span>'))
                                }
                            });
                        }
                        $.Usuario.charts(_table.ajax.json().cantUsers);
                    }
                });
            },
            $.Usuario.charts = function(){},
            $.Usuario.activar = function(url){
                swal({
                        title: "Activar Usuario",
                        text: "Desea Activar al Usuario",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Activar",
                        closeOnConfirm: false
                      },
                      function(){
                            $.post(url,
                                   null,
                                   function(data)
                                   {
                                       if(data.resultado == 0)
                                       {
                                         swal({
                                         title: "Resultado",
                                         text: data.mensaje,
                                         type: "success",
                                         showCancelButton: false,
                                         confirmButtonColor: "#DD6B55",
                                         confirmButtonText: "Aceptar",
                                         closeOnConfirm: true
                                        },
                                        function(){
                                          _table.ajax.reload( null, false );
                                        });
                                          
                                       }else{
                                         swal({
                                         title: "Resultado",
                                         text: data.mensaje,
                                         type: "error",
                                         showCancelButton: false,
                                         confirmButtonColor: "#DD6B55",
                                         confirmButtonText: "Aceptar",
                                         closeOnConfirm: true
                                             },
                                             function(){});
                                           }
                                    }
                             );
                      }
                    );
                },
            $.Usuario.eliminar = function(url){
                swal({
                        title: "Eliminar Usuario",
                        text: "Desea Eliminar al Usuario",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "red",
                        confirmButtonText: "Eliminar",
                        closeOnConfirm: false
                      },
                      function(){
                            $.post(url,
                                   null,
                                   function(data)
                                   {
                                       if(data.resultado == 0)
                                       {
                                         swal({
                                         title: "Resultado",
                                         text: data.mensaje,
                                         type: "success",
                                         showCancelButton: false,
                                         confirmButtonColor: "#DD6B55",
                                         confirmButtonText: "Aceptar",
                                         closeOnConfirm: true
                                        },
                                        function(){
                                          _table.ajax.reload( null, false );
                                        });
                                          
                                       }else{
                                         swal({
                                         title: "Resultado",
                                         text: data.mensaje,
                                         type: "error",
                                         showCancelButton: false,
                                         confirmButtonColor: "#DD6B55",
                                         confirmButtonText: "Aceptar",
                                         closeOnConfirm: true
                                             },
                                             function(){});
                                           }
                                    }
                             );
                      }
                    );
                },
                $.Usuario.desloguear = function(url){
                swal({
                        title: "Desloguear Usuario",
                        text: "Desea Desloguear al Usuario",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "red",
                        confirmButtonText: "Desloguear",
                        closeOnConfirm: false
                      },
                      function(){
                            $.post(url,
                                   null,
                                   function(data)
                                   {
                                       if(data.resultado == 0)
                                       {
                                         swal({
                                         title: "Resultado",
                                         text: data.mensaje,
                                         type: "success",
                                         showCancelButton: false,
                                         confirmButtonColor: "#DD6B55",
                                         confirmButtonText: "Aceptar",
                                         closeOnConfirm: true
                                        },
                                        function(){
                                          _table.ajax.reload( null, false );
                                        });
                                          
                                       }else{
                                         swal({
                                         title: "Resultado",
                                         text: data.mensaje,
                                         type: "error",
                                         showCancelButton: false,
                                         confirmButtonColor: "#DD6B55",
                                         confirmButtonText: "Aceptar",
                                         closeOnConfirm: true
                                             },
                                             function(){});
                                           }
                                    }
                             );
                      }
                    );
                }
        })(jQuery);
        $(document).ready(function(){$.Usuario.init();});
    </script>
{% endblock %}    