<div class="row">
    <h3>
		<i class="fa fa-edit"></i> Asignar forma de juego
	</h3>
</div>
<div id="row_1" class="row">
    <div class="col-md-3">
        <div class="panel panel-orange">
            <div class="panel-heading">
				<h4 class="panel-title"><span class="text-bold">Orden </span>de participación</h4>
			</div>
            <div class="panel-body">
                <p>
                    Las competencia que poseen más de una etapa, son aquellas que realizan una pre-clasificación.
                </p>
                <p>
                    Sin importar el tipo competencia utilizado en las etapa (series,ligas,eliminación directa,etc), los participantes realizan una clasificación y los mejores según criterio pasan a la etapa siguiente, la final, de donde se desprende el oro, plata y bonce.
                </p>
				<br>
				{{ form_start(formOrden) }}
					<button type="submit" class="btn btn-default btn-block">
						<i class="fa fa-plus"></i> Crear Instancia
					</button>
				{{ form_end(formOrden) }}
            </div>
        </div>
    </div>
	<div class="col-md-3">
        <div class="panel panel-green">
            <div class="panel-heading">
				<h4 class="panel-title"><span class="text-bold">Ligas </span>por Puntos o Tantos</h4>
			</div>
            <div class="panel-body">
                <p>
                    Las competencia que poseen más de una etapa, son aquellas que realizan una pre-clasificación.
                </p>
                <p>
                    Sin importar el tipo competencia utilizado en las etapa (series,ligas,eliminación directa,etc), los participantes realizan una clasificación y los mejores según criterio pasan a la etapa siguiente, la final, de donde se desprende el oro, plata y bonce.
                </p>
				<br>
				{{ form_start(formLiga) }}
					<button type="submit" class="btn btn-default btn-block">
						<i class="fa fa-plus"></i> Crear Instancia
					</button>
				{{ form_end(formLiga) }}			
            </div>
        </div>
    </div>
	<div class="col-md-3">
        <div class="panel panel-azure">
            <div class="panel-heading">
				<h4 class="panel-title"><span class="text-bold">Eliminación Directa </span></h4>
			</div>
            <div class="panel-body">
                <p>
                    Las competencia que poseen más de una etapa, son aquellas que realizan una pre-clasificación.
                </p>
                <p>
                    Sin importar el tipo competencia utilizado en las etapa (series,ligas,eliminación directa,etc), los participantes realizan una clasificación y los mejores según criterio pasan a la etapa siguiente, la final, de donde se desprende el oro, plata y bonce.
                </p>
				<br>
				{{ form_start(formEliminacionDirecta) }}
					<button type="submit" class="btn btn-default btn-block">
						<i class="fa fa-plus"></i> Crear Instancia
					</button>
				{{ form_end(formEliminacionDirecta) }}					
            </div>
        </div>
    </div>
	<div class="col-md-3">
        <div class="panel panel-purple">
            <div class="panel-heading">
				<h4 class="panel-title"><span class="text-bold">Series </span>por Ptos/Tiempo/Dist</h4>
			</div>
            <div class="panel-body">
                <p>
                    Las competencia que poseen más de una etapa, son aquellas que realizan una pre-clasificación.
                </p>
                <p>
                    Sin importar el tipo competencia utilizado en las etapa (series,ligas,eliminación directa,etc), los participantes realizan una clasificación y los mejores según criterio pasan a la etapa siguiente, la final, de donde se desprende el oro, plata y bonce.
                </p>
				<br>
				{{ form_start(formSerie) }}
					<button type="submit" class="btn btn-default btn-block">
						<i class="fa fa-plus"></i> Crear Instancia
					</button>
				{{ form_end(formSerie) }}	
            </div>
        </div>
    </div>
</div>