<div class="row">
    <h3>
		<i class="fa fa-edit"></i> Asignar forma de juego
	</h3>
</div>
<div id="row_1" class="row">
    <div class="col-md-3">
        <div class="panel panel-orange">
            <div class="panel-heading">
				<h4 class="panel-title"><span class="text-bold">Liga c/</span>Zonas 4x3 + Copa</h4>
			</div>
            <div class="panel-body">
                <p>
                    Las competencia que poseen más de una etapa, son aquellas que realizan una pre-clasificación.
                </p>
                <p>
                    Sin importar el tipo competencia utilizado en las etapa (series,ligas,eliminación directa,etc), los participantes realizan una clasificación y los mejores según criterio pasan a la etapa siguiente, la final, de donde se desprende el oro, plata y bonce.
                </p>
				<br>
				{{ form_start(template4x3) }}
					<button type="submit" class="btn btn-default btn-block">
						<i class="fa fa-plus"></i> Aplicar Template
					</button>
				{{ form_end(template4x3) }}
            </div>
        </div>
    </div>
	    <div class="col-md-3">
        <div class="panel panel-green">
            <div class="panel-heading">
				<h4 class="panel-title"><span class="text-bold">Liga c/</span>Zonas 4x6 + Copa</h4>
			</div>
            <div class="panel-body">
                <p>
                    Las competencia que poseen más de una etapa, son aquellas que realizan una pre-clasificación.
                </p>
                <p>
                    Sin importar el tipo competencia utilizado en las etapa (series,ligas,eliminación directa,etc), los participantes realizan una clasificación y los mejores según criterio pasan a la etapa siguiente, la final, de donde se desprende el oro, plata y bonce.
                </p>
				<br>
				{{ form_start(template4x6) }}
					<button type="submit" class="btn btn-default btn-block">
						<i class="fa fa-plus"></i> Aplicar Template
					</button>
				{{ form_end(template4x6) }}
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-azure">
            <div class="panel-heading">
				<h4 class="panel-title"><span class="text-bold">Liga c/</span>Zonas 2x6 + Copa</h4>
			</div>
            <div class="panel-body">
                <p>
                    Las competencia que poseen más de una etapa, son aquellas que realizan una pre-clasificación.
                </p>
                <p>
                    Sin importar el tipo competencia utilizado en las etapa (series,ligas,eliminación directa,etc), los participantes realizan una clasificación y los mejores según criterio pasan a la etapa siguiente, la final, de donde se desprende el oro, plata y bonce.
                </p>
				<br>
				{{ form_start(template2x6) }}
					<button type="submit" class="btn btn-default btn-block">
						<i class="fa fa-plus"></i> Aplicar Template
					</button>
				{{ form_end(template2x6) }}
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-purple">
            <div class="panel-heading">
				<h4 class="panel-title"><span class="text-bold">Liga c/</span>Zonas 8x3 + Copa</h4>
			</div>
            <div class="panel-body">
                <p>
                    Las competencia que poseen más de una etapa, son aquellas que realizan una pre-clasificación.
                </p>
                <p>
                    Sin importar el tipo competencia utilizado en las etapa (series,ligas,eliminación directa,etc), los participantes realizan una clasificación y los mejores según criterio pasan a la etapa siguiente, la final, de donde se desprende el oro, plata y bonce.
                </p>
				<br>
				{{ form_start(template8x3) }}
					<button type="submit" class="btn btn-default btn-block">
						<i class="fa fa-plus"></i> Aplicar Template
					</button>
				{{ form_end(template8x3) }}
            </div>
        </div>
    </div>
	<div class="col-md-3">
        <div class="panel panel-pink">
            <div class="panel-heading">
				<h4 class="panel-title"><span class="text-bold">Serie </span> 2x6</h4>
			</div>
            <div class="panel-body">
                <p>
                    Las competencia que poseen más de una etapa, son aquellas que realizan una pre-clasificación.
                </p>
                <p>
                    Sin importar el tipo competencia utilizado en las etapa (series,ligas,eliminación directa,etc), los participantes realizan una clasificación y los mejores según criterio pasan a la etapa siguiente, la final, de donde se desprende el oro, plata y bonce.
                </p>
				<br>
				{{ form_start(templateSerie2x6) }}
					<button type="submit" class="btn btn-default btn-block">
						<i class="fa fa-plus"></i> Aplicar Template
					</button>
				{{ form_end(templateSerie2x6) }}
            </div>
        </div>
	</div>	
	<div class="col-md-3">
        <div class="panel panel-blue">
            <div class="panel-heading">
				<h4 class="panel-title"><span class="text-bold">Serie </span>Final x12</h4>
			</div>
            <div class="panel-body">
                <p>
                    Las competencia que poseen más de una etapa, son aquellas que realizan una pre-clasificación.
                </p>
                <p>
                    Sin importar el tipo competencia utilizado en las etapa (series,ligas,eliminación directa,etc), los participantes realizan una clasificación y los mejores según criterio pasan a la etapa siguiente, la final, de donde se desprende el oro, plata y bonce.
                </p>
				<br>
				{{ form_start(templateSerieFinalx12) }}
					<button type="submit" class="btn btn-default btn-block">
						<i class="fa fa-plus"></i> Aplicar Template
					</button>
				{{ form_end(templateSerieFinalx12) }}
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-red">
            <div class="panel-heading">
				<h4 class="panel-title"><span class="text-bold">Serie </span>Final vacia</h4>
			</div>
            <div class="panel-body">
                <p>
                    Las competencia que poseen más de una etapa, son aquellas que realizan una pre-clasificación.
                </p>
                <p>
                    Sin importar el tipo competencia utilizado en las etapa (series,ligas,eliminación directa,etc), los participantes realizan una clasificación y los mejores según criterio pasan a la etapa siguiente, la final, de donde se desprende el oro, plata y bonce.
                </p>
				<br>
				{{ form_start(templateSerieFinalVacia) }}
					<button type="submit" class="btn btn-default btn-block">
						<i class="fa fa-plus"></i> Aplicar Template
					</button>
				{{ form_end(templateSerieFinalVacia) }}
            </div>
        </div>
    </div>
</div>