<tr>
  <th width="15%;">Id:</th>
  <td>{{ entity.id }}</td>
</tr>
<tr>
  <th>Nombre:</th>
  <td>{{ entity.nombre}}</td>
</tr>
<tr>
  <th>Apellido:</th>
  <td>{{ entity.apellido}}</td>
</tr>
<tr>
  <th>Usuario:</th>
  <td>{{ entity.usuario }}</td>
</tr>
<tr>
  <th>Activo:</th>
  <td>
  {% if entity.activo %}
    <img src="{{ asset('bundles/common/images/famfamfam/accept.png')}}" alt="Activo" title="Activo"/> 
  {% else %}
    <img src="{{ asset('bundles/common/images/famfamfam/exclamation.png')}}" alt="Inactivo" title="Inactivo"/> 
  {% endif %}
</td>
</tr>
<tr>
 <th>Perfiles Asignados:</th>
  <td>
   {%for perfil in entity.perfiles %}
    &bull;&nbsp;{{perfil}}<br>
   {% endfor %}
  </td>
</tr>
<tr>
  <th>Logueado</th>
  <td>
    {% if entity.logueado %}
      <img src="{{ asset('bundles/common/images/famfamfam/accept.png')}}" alt="Activo" title="Logueado"/> 
    {% else %}
      <img src="{{ asset('bundles/common/images/famfamfam/exclamation.png')}}" alt="Inactivo" title="Deslogueado"/> 
    {% endif %}
  </td>
</tr>
<tr>
  <th>Último Login</th>
  <td>{% if entity.ultimoLogin %}{{ entity.ultimoLogin|date('d/m/Y [H:i:s]') }}{% endif %}&nbsp;</td>
</tr>
<tr>
  <th>I.P. Login</th>
  <td>{{entity.getIpLogin}}</td>
</tr>
<tr>
  <th>Cliente</th>
  <td>{{entity.cliente}}</td>
</tr>