{% extends "SeguridadBundle::layout.html.twig" %}
{% block bodyTag %}
    <body class="login">
{% endblock %}
{% block topBar %}{% endblock %}
{% block leftBar %}{% endblock %}	
{% block contenido %}
    <style>
        .box-login{
            background-image: url('{{ asset('bundles/common/images/logos/logojuegos.png') }}') !important;
            background-repeat: no-repeat !important;
            background-position: 98% 98% !important;
        }
        .QapTcha{margin: 0;}
    </style>
    <div class="row">
        <div class="main-login col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
            <!-- start: LOGIN BOX -->
            <div class="box-login">
                <h3>Acceda a su cuenta</h3>
                <p>
                    Ingrese su usuario y contraseña para logearse.
                </p>
                <form class="form-login" action="{{ path('_security_check') }}" method="post">
                    {% if error %} 
                        <div class="errorHandler alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            <i class="fa fa-remove-sign"></i> Hay un error en los datos. Por favor, chequee la información.
                            <div class="no-display">{{ error.message | trans }}</div>
                        </div>
                    {% endif %}
                    <fieldset>
                        <div class="form-group">
                            <span class="input-icon">
                                <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" placeholder="Usuario">
                                <i class="fa fa-user"></i>
                            </span>
                        </div>
                        <div class="form-group form-actions">
                            <span class="input-icon">
                                <input type="password" class="form-control password" id="password" name="_password" placeholder="Contraseña">
                                <i class="fa fa-lock"></i>
                                <a class="forgot" href="#">
                                    olvidó su contraseña ?
                                </a>
                            </span>
                        </div>
                        <div class="form-actions">
                            <div class="QapTcha"></div>
                            <input type="submit" name="submit" class="hidden"/>
                        </div>
                        <div class="new-account">
                            No tiene una cuenta ?
                            <a href="#" class="register">
                                Solicite una aquí
                            </a>
                        </div>
                    </fieldset>
                </form>
                <!-- start: COPYRIGHT -->
                <div class="copyright">
                    {{ "now"|date("Y") }} &copy; Departamento de informática, Secretaría de Deportes de la Provincia de Buenos Aires.
                </div>
                <!-- end: COPYRIGHT -->
            </div>
            <!-- end: LOGIN BOX -->
            
            <!-- start: FORGOT BOX -->
            <div class="box-forgot">
                <h3>Olvidó su contraseña?</h3>
                <p>
                    Ingrese su e-mail para resetear la constraseña.
                </p>
                <form class="form-forgot">
                    <div class="errorHandler alert alert-danger no-display">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <i class="fa fa-remove-sign"></i> Hay un error en los datos. Por favor, chequee la información.
                    </div>
                    <fieldset>
                        <div class="form-group">
                            <span class="input-icon">
                                <input type="text" class="form-control" name="user" placeholder="Nombre de usuario">
                                <i class="fa fa-user"></i>
                            </span>
                        </div>
                        <div class="form-group">    
                            <span class="input-icon">
                                <input type="email" class="form-control" name="email" placeholder="Email">
                                <i class="fa fa-envelope"></i>
                            </span>
                        </div>
                        <div class="form-actions">
                            <a class="btn btn-light-grey go-back">
                                <i class="fa fa-chevron-circle-left"></i> Log-In
                            </a>
                            {#
                            <button type="submitt" class="btn btn-green pull-right">
                                Enviar <i class="fa fa-arrow-circle-right"></i>
                            </button>#}
                        </div>
                    </fieldset>
                </form>
                <!-- start: COPYRIGHT -->
                <div class="copyright">
                    {{ "now"|date("Y") }} &copy; Departamento de informática, Secretaría de Deportes de la Provincia de Buenos Aires.
                </div>
                <!-- end: COPYRIGHT -->
            </div>
            <!-- end: FORGOT BOX -->
            <!-- start: REGISTER BOX -->
            <div class="box-register">
                <h3>Crear cuenta</h3>
                <p style="text-align: center;">
                    Esta función no esta activa por le momento.<br> Para más información comuniquese con el departamento de informática.
                </p>
                <form class="form-register">
                    <div class="errorHandler alert alert-danger no-display">
                        <i class="fa fa-remove-sign"></i> You have some form errors. Please check below.
                    </div>
                    <fieldset>
                        {#
                        <div class="form-group">
                            <input type="text" class="form-control" name="full_name" placeholder="Full Name">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="address" placeholder="Address">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="city" placeholder="City">
                        </div>
                        <div class="form-group">
                            <div>
                                <label class="radio-inline">
                                    <input type="radio" class="grey" value="F" name="gender">
                                    Female
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" class="grey" value="M" name="gender">
                                    Male
                                </label>
                            </div>
                        </div>
                        <p>
                            Enter your account details below:
                        </p>
                        <div class="form-group">
                            <span class="input-icon">
                                <input type="email" class="form-control" name="email" placeholder="Email">
                                <i class="fa fa-envelope"></i>
                            </span>
                        </div>
                        <div class="form-group">
                            <span class="input-icon">
                                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                                <i class="fa fa-lock"></i>
                            </span>
                        </div>
                        <div class="form-group">
                            <span class="input-icon">
                                <input type="password" class="form-control" name="password_again" placeholder="Password Again">
                                <i class="fa fa-lock"></i>
                            </span>
                        </div>
                        <div class="form-group">
                            <div>
                                <label for="agree" class="checkbox-inline">
                                    <input type="checkbox" class="grey agree" id="agree" name="agree">
                                    I agree to the Terms of Service and Privacy Policy
                                </label>
                            </div>
                        </div>#}
                        <div class="form-actions">
                            Ya tiene una cuenta?
                            <a href="#" class="go-back">
                                Log-in
                            </a>
                            {#
                            <button type="submit" class="btn btn-green pull-right">
                                Submit <i class="fa fa-arrow-circle-right"></i>
                            </button>
                            #}
                        </div>
                    </fieldset>
                </form>
                <!-- start: COPYRIGHT -->
                <div class="copyright">
                    {{ "now"|date("Y") }} &copy; Departamento de informática, Subsecretaría de Deportes de la Provincia de Buenos Aires.
                </div>
                <!-- end: COPYRIGHT -->
            </div>
            <!-- end: REGISTER BOX -->
        </div>
    </div>
{% endblock %}
{% block footer %}{% endblock %}
