{% extends 'CommonBundle::layout.html.twig' %}

{% block contenidoToolbar %}
    <div class="toolbar row">
        <div class="col-sm-6 hidden-xs">
            <div class="page-header">
				{% if not entity.id %}
                   <h1>Nuevo Perfil <small>Todo los datos del perfil</small></h1>
				{% else %}
					<h1>Editar Perfil <small>Todo los datos del perfil "{{entity.name}}"</small></h1>
				{% endif %}
            </div>
        </div>
        <div class="col-sm-6 col-xs-12">
            <div class="toolbar-tools pull-right">
                <!-- start: TOP NAVIGATION MENU -->
                <ul class="nav navbar-right">
                    <!-- start: TO-DO DROPDOWN -->
                </ul>
                <!-- end: TOP NAVIGATION MENU -->
            </div>
        </div>
    </div>
{% endblock %}
{% block contenidoBreadcrumb %}
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('perfil_list') }}">
                        Perfil
                    </a>
                </li>
                <li class="active">
					{% if not entity.id %}
                    <a href="{{ path('perfil_new') }}">
                        Nuevo
                    </a>
				   {% else %}
					 <a href="{{ path('perfil_edit',{'perfil':entity.id}) }}">
                        {{entity.name}}
                     </a>
				   {% endif %}
               </li>
            </ol>
        </div>
    </div>
{% endblock %}
{% block contenidoData %}
   {{form_start(form)}}
   <div class="panel">
	<div class="panel-body">
		{{form_row(form.name)}}
		{{form_row(form.legend)}}
		{{form_row(form.description)}}
		{{form_row(form.municipio)}}
		{{form_row(form.muestraMunicipio)}}
		{{form_row(form.isActive)}}
		{{form_row(form.availableForNewUsers)}}
		<table id="list_roles_perfil" class="table table-striped table-hover" width="100%">
			 <thead>
				 <tr>
					<th>Nombre</th>
					<th>Descripción</th>
					<th>Seleccionar</th>
				 </tr>
			 </thead>
			 <tbody>
				 {%for role in roles %}
					 <tr>
					    <td>{{role.name}}</td>
						<td>{{role.description}}</td>
						<td><div class="checkbox"><input onclick="$.PerfilesRoles.actualizar(this.id,{{role.id}})" id="dummy_perfil_roles_{{role.id}}" name="dummy_perfil[roles][]" type="checkbox" {% if entity.hasRole(role) %}checked="checked"{% endif %}></div></td>
					 </tr>
				 {% endfor %}
			 </tbody>
		</table>
		<button type="submit" class="btn btn-success col-md-4 pull-right">Listo</button>
		{{form_widget(form._token)}}</div>
		<div class="hide">{{form_widget(form.roles)}}</div>
		{{form_end(form)}}
     </div>
   </div>
{% endblock %}
{% block otherJavascripts %}
<script type="text/javascript">
	 (function ($) {
		var _table;
		 $.PerfilesRoles = $.PerfilesRoles || {};
         $.PerfilesRoles.init = function() {
			$('#list_roles_perfil').DataTable(
				{
					"language" : {
                        "url" : "{{ asset('assets/common/Spanish.json') }}"
                    }
				}
			);
		 },
		 $.PerfilesRoles.actualizar = function(checkbox,role)
		 {
			 $('#perfil_roles_' + role).attr('checked',$('#'+checkbox).is(':checked'));
		 }
	 })(jQuery);
	$(document).ready(function(){$.PerfilesRoles.init();});
</script>
{% endblock %}    

